@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model EmcureNPD.Business.Models.IPDEntity

@{
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    string dateRange = DateTime.Now.ToString("yyyy-MM-dd");  
}

<form id="fIPDForm_@Model.BusinessUnitId" class="needs-validation" asp-action="IPD">
    <div class="tab-content" id="tabList">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        <input type="hidden" asp-for="BusinessUnitId" />
                        <input type="hidden" asp-for="PIDFID" />
                        <input type="hidden" asp-for="IPDID" />
                        <input type="hidden" asp-for="TotalParent" />
                        <input type="hidden" asp-for="RegionIds" />
                        <input type="hidden" asp-for="CountryIds" />
                        <input type="hidden" asp-for="SaveType" />
                        @Html.LabelFor(model => model.ProjectName, "Project Name", new { @class = "control-label" })
                        @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @autocomplete = "off", @readonly = true, @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Project Name"] } })
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.MarketName, new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.MarketName, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Market"]} })
                        @Html.ValidationMessageFor(model => model.MarketName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.DataExclusivity, "Data Exclusivity", new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.DataExclusivity, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Data Exclusivity"] } })
                        @Html.ValidationMessageFor(model => model.DataExclusivity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.FillingType, "Type of Filling", new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.FillingType, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Type of Filling"] } })
                        @Html.ValidationMessageFor(model => model.FillingType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ApprovedGenetics, "Approved Genetics", new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.ApprovedGenetics, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Approved Genetics"] } })
                        @Html.ValidationMessageFor(model => model.ApprovedGenetics, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.LaunchedGenetics, "Launched Genetics", new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.LaunchedGenetics, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Launched Genetics"]} })
                        @Html.ValidationMessageFor(model => model.LaunchedGenetics, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Innovators, new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.Innovators, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["RFDInnovators"]} })
                        @Html.ValidationMessageFor(model => model.Innovators, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.PatentStatus, @MasterLocalizer["PatentStatus"], new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.PatentStatus, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["PatentStatus"]} })
                        @Html.ValidationMessageFor(model => model.PatentStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.RegionId, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.RegionId,new List<SelectListItem> { }, new { @class = "form-control regionCombo", @multiple = "multiple"  })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.CountryId, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CountryId, new List<SelectListItem> { }, htmlAttributes: new { @class = "form-control countryCombo", @multiple = "multiple" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.LegalStatus, @MasterLocalizer["Legal Status"], new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.LegalStatus, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Legal Status"]} })
                        @Html.ValidationMessageFor(model => model.LegalStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.CostOfLitication, "Cost of Litigation (In Lacs)", new { @class = "control-label" }) <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.CostOfLitication, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked customvalidateformcontrol", @placeholder = @MasterLocalizer["Cost of Litigation"]} })
                        @Html.ValidationMessageFor(model => model.CostOfLitication, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.IsComment, "IPD Comments", new { @class = "control-label" })
                        <div onclick="checkRadioCheckOrNot()">
                        @Html.RadioButtonFor(model => model.IsComment, true, new { @class="IPDIsComment" }) @Html.LabelFor(model => model.IsComment, "Yes")
                        @Html.RadioButtonFor(model => model.IsComment, false) @Html.Label("No")
                        <br />
                        @Html.ValidationMessageFor(model => model.IsComment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.IsComment)
            {
                <div class="row" id="dvIPDComments">
                    <div class="col-md-12">
                    <div class="form-group required">
                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control IPDCommentText" })
                    </div>
                </div>
                </div>
            }
            else
            {
                <div class="row" id="dvIPDComments">
                    <div class="col-md-12">
                        <div class="form-group required">
                            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control IPDCommentText",@readonly=true,@disabled=true })
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h3 class="card-title mb-0"><button type="button" class="btn btn-tool" data-card-widget="collapse">Patent Details</button></h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            <table id="PIDFTable" class="table table-bordered table-striped table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="13%">@MasterLocalizer["Patent Number"] <span class="text-danger">*</span></th>
                                        <th width="13%">@MasterLocalizer["Type"] <span class="text-danger">*</span></th>
                                        <th width="15%">@SharedLocalizer["Original Expiry Date"] <span class="text-danger">*</span></th>
                                        <th width="17%">@SharedLocalizer["Extension Expiry Date"] <span class="text-danger">*</span></th>
                                        <th width="21%">@SharedLocalizer["Comments (Patent Specific)"] <span class="text-danger">*</span></th>
                                        <th width="15%">@SharedLocalizer["Strategy"] <span class="text-danger">*</span></th>
                                        <th width="6%" class="text-center">@SharedLocalizer["Action"]</th>
                                    </tr>
                                </thead>
                                <tbody id="parentBody">
                                    @if (Model.pidf_IPD_PatentDetailsEntities != null && Model.pidf_IPD_PatentDetailsEntities.Count() > 0)
                                    {
                                        for (int i = 0; i < Model.pidf_IPD_PatentDetailsEntities.Count(); i++)
                                        {
                                            <tr id="parentRow_@i">
                                              @*  <td style="display:none;">
                                                    <div class="">
                                                        <div class="form-group required">
                                                            @Html.EditorFor(model => model.pidf_IPD_PatentDetailsEntities[i].PatentNumber, new { htmlAttributes = new { @autocomplete = "off",@readonly = true, @class = "form-control checkbox-checked", id = "pidf_IPD_PatentDetailsEntities[" + i + "].PatentNumber", @placeholder = @MasterLocalizer["Patent Number"]} })
                                                        </div>
                                                    </div>
                                                </td>*@
                                                <td>
                                                    <div class="">
                                                        <div class="form-group required">
                                                            @Html.EditorFor(model => model.pidf_IPD_PatentDetailsEntities[i].PatentNumber, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked validateChildDetails",  @placeholder = @MasterLocalizer["PatentNumber"],@required="required" } })
                                                            @*@Html.ValidationMessageFor(model => model.pidf_IPD_PatentDetailsEntities[i].PatentNumber, "", new { @class = "text-danger" })*@
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <div class="form-group required">
                                                            @Html.EditorFor(model => model.pidf_IPD_PatentDetailsEntities[i].Type, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked validateChildDetails", id = "pidf_IPD_PatentDetailsEntities[" + i + "].Type", @placeholder = @MasterLocalizer["Type"],@required="required" } })
                                                            @*@Html.ValidationMessageFor(model => model.pidf_IPD_PatentDetailsEntities[i].Type, "", new { @class = "text-danger", id = "pidf_IPD_PatentDetailsEntities[" + i + "].ValidationType" })*@
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <div class="form-group required">
                                                            @Html.EditorFor(model => model.pidf_IPD_PatentDetailsEntities[i].OriginalExpiryDate, new { htmlAttributes = new { @min=@dateRange, @autocomplete = "off", @class = "form-control checkbox-checked originalDate validateChildDetails", id = "pidf_IPD_PatentDetailsEntities[" + i + "].OriginalExpiryDate", @placeholder = @MasterLocalizer["Original Expiry Date"],@required="required" } })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <div class="form-group required">
                                                            @Html.EditorFor(model => model.pidf_IPD_PatentDetailsEntities[i].ExtensionExpiryDate, new { htmlAttributes = new { @min=@dateRange, @autocomplete = "off", @class = "form-control checkbox-checked extendedDate validateChildDetails", id = "pidf_IPD_PatentDetailsEntities[" + i + "].ExtensionExpiryDate", @placeholder = @MasterLocalizer["Extension Expiry Date"],@required="required" } })
                                                                
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <div class="form-group required">
                                                            @Html.EditorFor(model => model.pidf_IPD_PatentDetailsEntities[i].Comments, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked validateChildDetails", id = "pidf_IPD_PatentDetailsEntities[" + i + "].Comments", @placeholder = @MasterLocalizer["Comments (Patent Specific)"],@required="required" } })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <div class="form-group required">
                                                            @Html.EditorFor(model => model.pidf_IPD_PatentDetailsEntities[i].Strategy, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked validateChildDetails", id = "pidf_IPD_PatentDetailsEntities[" + i + "].Strategy", @placeholder = @MasterLocalizer["Strategy"],@required="required" } })
                                                        </div>
                                                    </div>
                                                </td>                                                 
                                                <td>
                                                    <div class="col-md">
                                                        <div class="form-group">

                                                            <i class="fa-solid fa-circle-plus nav-icon text-success operationButton" id="addIcon_@i" onclick="addRowParent(@i)"></i>

                                                            <span><i class="fa-solid fa-trash nav-icon text-red apiDeleteIcon operationButton" id="deleteIcon_@i" onclick="removeRowParent(@i, this)"></i></span>
                                                            @Html.HiddenFor(model => model.pidf_IPD_PatentDetailsEntities[i].PatentDetailsID, new { id = "pidf_IPD_PatentDetailsEntities[" + i + "].PatentDetailsID"})
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <div class="form-group">
                <button type="submit" class="btn btn-success me-3 outside-buttons operationButton" onClick="return SaveIPDClick('Sv');">@SharedLocalizer["Submit"]</button>
                @if (Model.StatusId == (Int32)Master_PIDFStatus.IPDInProgress || Model.StatusId == (Int32)Master_PIDFStatus.PIDFApproved || Model.StatusId == (Int32)Master_PIDFStatus.MedicalSubmitted)
                {
                    <button type="submit" id="btnIPDSaveAsDraft" class="btn btn-primary me-3 outside-buttons operationButton" onClick="return SaveIPDClick('Drf');">@SharedLocalizer["SaveDraft"]</button>
                }
            </div>
        </div>
    </div>
</form>
@*@Html.Partial("_ValidationScriptsPartial")*@
@Html.Partial("_ValidationScriptsPartial")
<script type="text/javascript" src="~/js/Custom/SelectAllAdaptor.js?v=@jsVersion"></script>
<script>
    $(document).ready(function () {
        setRegion();
        IPDSetChildRowDeleteIcon();
        $('.regionCombo').select2({ dropdownAdapter: $.fn.select2.amd.require('select2/selectAllAdapter') });
        $('.countryCombo').select2({ dropdownAdapter: $.fn.select2.amd.require('select2/selectAllAdapter') });
        if (_IPDMode == 1) {
            readOnlyIPDForm();
        }
        if (_IsIPDSubmitted.toLowerCase() === 'true') {
            $('#btnIPDSaveAsDraft').hide();
        }
    });
</script>