@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model EmcureNPD.Business.Models.IPDEntity
@{
    if (Model._Partial)
    {
        Layout = null;
    }
}
@{
    ViewData["Title"] = @MasterLocalizer["IPD"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}

@if (!Model._Partial)
{
    <div id="dvPIDFAccrdion"></div>
    <div class="content-header">
        <h2 class="m-0">Internal Patent Details</h2>
    </div>
    @Html.Partial("_PIDFApproveReject")
    @Html.Partial("_CancelRequest", (int)PIDFScreen.IPD)
}
<input type="hidden" value="@(Model._Partial ? '1' : '0')" id="hdnIsPartial" />
<div class="container-fluid background-white-card" id="dvIPDContainer">
    <input type="hidden" asp-for="LogInId" />
    <input type="hidden" id="hdnIPDIsView" value="@(Context.Request.Query["IsView"] == "1" ? "1" : "0")" />
    <input type="hidden" id="BusinessUnitsByUser" value="@Model.BusinessUnitsByUser" />
    <input type="hidden" asp-for="SelectedTabBusinessUnit" />
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs text-center m-0" id="custom-tabs-two-tab" role="tablist">
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-two-tabContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <div class="form-group">
                @if (Model.StatusId == (Int32)Master_PIDFStatus.IPDSubmitted || Convert.ToBoolean(Context.Request.Query["ipd"]))
                {

                    <button type="submit" class="btn btn-success me-3 outside-buttons operationButton" onClick="ApproveRejectClick('A', '@Model.PIDFID', @((int)EmcureNPD.Utility.Enums.PIDFScreen.IPD), '/PIDF/PIDFList?ScreenId=@((int)EmcureNPD.Utility.Enums.PIDFScreen.IPD)')"><i class="fa fa-check-circle mr-1"></i>@SharedLocalizer["Approve"]</button>
                    <button type="submit" class="btn btn-danger me-3 outside-buttons operationButton" onClick="ApproveRejectClick('R', @Model.PIDFID, @EmcureNPD.Utility.Enums.PIDFScreen.IPD, '/PIDF/PIDFList?ScreenId=@((int)EmcureNPD.Utility.Enums.PIDFScreen.IPD)');"><i class="fa fa-ban mr-1"></i>@SharedLocalizer["Reject"]</button>
                }
                @if (!Model._Partial)
                {
                    <a class="btn btn-danger me-3 outside-buttons" onclick="CancelPopup();">@SharedLocalizer["Cancel"]</a>
                }

            </div>
        </div>
    </div>
</div>

    <link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css" />
    <script type="text/javascript" src="~/AdminLTE/plugins/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/js/Custom/IPD/IPDMaster.js?v=@jsVersion"></script>
    <script>

        var AllRegion = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllRegionIPD";
        var AllRegionCountry = "@EmcureNPD.Web.Helpers.APIURLHelper.GetCountryRefByRegionIds";
        var GetActiveBusinessUnit = "@EmcureNPD.Web.Helpers.APIURLHelper.GetActiveBusinessUnit";
        var _selectBusinessUnit = "@Model.BusinessUnitId";
        var _PIDFID = "@Model.PIDFID";
        var _IPDPartialURL = "@Url.Action("IPDPartial", "IPD")";
        var _IPDSaveUpdateURL = "@Url.Action("IPD", "IPD")";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordInsertUpdate = "@SharedLocalizer["RecordInsertUpdate"]";
        var _PIDFAccordionURL = "@Url.Action("PIDF", "PIDF")";
        var UserWiseBUList = "@Model.BusinessUnitsByUser";
    var _IsIPDSubmitted = "@Convert.ToBoolean(Context.Request.Query["ipd"])";
        //document.addEventListener("DOMContentLoaded", function () {
        //    var tabList = [].slice.call(document.querySelectorAll("#tabs a"));
        //    var tabs = $('#tabList');

        //    tabList.forEach(function (tab) {
        //        var tabTrigger = new bootstrap.Tab(tab);

        //        tab.addEventListener("click", function (event) {
        //            event.preventDefault();
        //            tabTrigger.show();
        //        });
        //        tabs.append('<div class="tab-pane fade" id="'+tab+'">');

        //    });
        //});
        var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
        if (errorCallBack) {
            toastr.error(errorCallBack);
        }
        var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack) {
            toastr.success(successCallBack);
        }
    </script>