@using EmcureNPD.Utility.Models
@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model EmcureNPD.Business.Models.MasterPackingTypeEntity
@{
	ViewData["Title"] = @MasterLocalizer["Packing Type - Emcure NPD"];
	RolePermissionModel objPermssion = (RolePermissionModel)ViewBag.Access;
	string IsAddAllow = (objPermssion.Add) ? "" : "display: none";
	string IsEditAllow = (objPermssion.Edit) ? "" : "display: none";
	string IsDeleteAllow = (objPermssion.Delete) ? "" : "display: none";
	string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<div class="content-header">
	<div class="container-fluid d-flex justify-content-between">
		<h3>@MasterLocalizer["PackingType"]</h3>
		<div>
			<a style="@IsAddAllow" class="btn btn-primary" data-toggle="modal" data-target="#SavePackingTypeModel" data-backdrop="static" data-keyboard="false" onclick="AddPackingType();"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
		</div>
	</div>
</div>
<div class="container-fluid overflow-auto background-white-card">
	<table id="PackingTypeTable" class="table table-bordered table-striped table-hover" style="width:100%">
		<thead>
			<tr>
				<th>@MasterLocalizer["Packing Type Name"]</th>
				<th>@MasterLocalizer["Packing Cost"]</th>
				<th>@MasterLocalizer["Ref"]</th>
				<th>@MasterLocalizer["Unit"]</th>
				<th>@SharedLocalizer["Status"]</th>
				<th class="text-center">@SharedLocalizer["Action"]</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

@*DeletePackingTypeModel*@
<div id="DeletePackingTypeModel" class="modal themeModal " role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							@Html.Label(@SharedLocalizer["DeleteConfirm"])
						</div>
					</div>
				</div>
				@Html.Hidden("PackingTypeID")
				<div class="card-footer text-center">
					<button type="button" onclick="DeletePackingType()" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
					<a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
				</div>
			</div>
		</div>
	</div>
</div>

@*AddUpdateModel*@
<div id="SavePackingTypeModel" class="modal themeModal " role="dialog">
	<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="POST" onsubmit="return SaveMasterPackingType(this);">
		<!-- Small boxes (Stat box) -->
		<!-- Main row -->
		<input type="hidden" id="PackingTypeID" name="PackingTypeID" value="0" />
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="PackingTypeTitle"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group required">
								@Html.LabelFor(model => model.PackingTypeName,"Packing Name", new { @class = "control-label" })
								<span class="text-danger">*</span>
								@Html.EditorFor(model => model.PackingTypeName, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = "Packing Name" } })
								@Html.ValidationMessageFor(model => model.PackingTypeName, "", new { @class = "text-danger" })
							</div>
							<div class="form-group required">
								@Html.LabelFor(model => model.PackingCost,"PackingCost", new { @class = "control-label" })
								
								@Html.EditorFor(model => model.PackingCost, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = "Packing Cost" ,type="number", min=0} })
								@Html.ValidationMessageFor(model => model.PackingCost, "", new { @class = "text-danger" })
							</div>
							<div class="form-group required">
								@Html.LabelFor(model => model.Ref,"Ref", new { @class = "control-label" })
								
								@Html.EditorFor(model => model.Ref, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked numberonly", @placeholder = "Ref",type="number" ,min="0" } })
								@Html.ValidationMessageFor(model => model.Ref, "", new { @class = "text-danger" })
							</div>
							<div class="form-group required">
								@Html.LabelFor(model => model.Unit,"Unit", new { @class = "control-label" })								
								@Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = "Unit" } })
								@Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="required">
								@Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox-checked", @checked = "checked" })
								@Html.Label(@SharedLocalizer["IsActive"],"Active")
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-end card-margin">
					<button type="submit" class="btn btn-success me-3 large-button">@SharedLocalizer["Save"]</button>
					<a class="btn btn-danger ms-3 large-button" data-dismiss="modal">@SharedLocalizer["Cancel"]</a>
				</div>
			</div>
		</div>
	</form>
</div>
@section MyScripts {

	@Html.Partial("_DataTablePartial")

	<script type="text/javascript" src="~/js/Custom/Masters/MasterPackingType.js?v=@jsVersion"></script>
	<script>

		//#region Setup API Url
		var AllPackingType = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllPackingType";
		var SavePackingType = "@EmcureNPD.Web.Helpers.APIURLHelper.SavePackingType";
		var GetPackingTypeByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.GetPackingTypeById";
		var DeletePackingTypeByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.DeletePackingTypeById";
		// #endregion
		var IsEditAllow = "@IsEditAllow";
		var IsDeleteAllow = "@IsDeleteAllow";
		//#region Static Messae Init
		var EditLabel = "@SharedLocalizer["Edit"]";
		var DeleteLabel = "@SharedLocalizer["Delete"]";
		var ErrorMessage = "@SharedLocalizer["Error"]";
		var RecordInsertUpdate = "@SharedLocalizer["RecordInsertUpdate"]";
		var RecordDelete = "@SharedLocalizer["RecordDelete"]";
		var AddLabel = "@SharedLocalizer["Add Packing Type"]";
		var UpdateLabel = "@SharedLocalizer["Edit Packing Type"]";
				//#endregion
	</script>
}