@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer

@model EmcureNPD.Business.Models.MasterBatchSizeNumberEntity
@{
    ViewData["Title"] = @MasterLocalizer["Batch Size Number - Emcure NPD"];
}
<div class="row">
    <section class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="far fa-list-alt mr-2"></i>@MasterLocalizer["BatchSize Number"]
                </h3>
                <div class="card-tools md-left">
                    <div class="mybtn-group">
                        @if (@ViewBag.Access.Add == true)
                        {
                            <a class="btn btn-primary" data-toggle="modal" data-target="#SaveBatchSizeNumberModel" data-backdrop="static" data-keyboard="false" onclick="AddBatchSizeNumber();"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>                        }
                        <div class="export-btn mybtn-group"></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="BatchSizeNumberTable" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>@MasterLocalizer["BatchSize Number"]</th>
                            <th>@SharedLocalizer["Status"]</th>
                            <th class="text-center">@SharedLocalizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        @*DeleteBatchSizeNumberModel*@
        <div id="DeleteBatchSizeNumberModel" class="modal themeModal " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["DeleteConfirm"])
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("BatchSizeNumberID")
                        <div class="card-footer text-center">
                            <button type="button" onclick="DeleteBatchSizeNumber()" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*AddUpdateModel*@
        <div id="SaveBatchSizeNumberModel" class="modal themeModal " role="dialog">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="POST" onsubmit="return SaveBatchSizeNumberForm(this)">
                <!-- Small boxes (Stat box) -->
                <!-- Main row -->
                <input type="hidden" id="BatchSizeNumberID" name="BatchSizeNumberID" value="0" />
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="BatchSizeNumberTitle"></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.BatchSizeNumberName, "BatchSize Number Name", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.BatchSizeNumberName, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["BatchSize Number Name"] } })
                                        @Html.ValidationMessageFor(model => model.BatchSizeNumberName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="required">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox-checked", @checked = "checked" })
                                        @Html.Label(@SharedLocalizer["IsActive"], "Active")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">@SharedLocalizer["Save"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["Cancel"]</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
@section MyScripts {

    @Html.Partial("_DataTablePartial")

<script type="text/javascript" src="~/js/Custom/Masters/MasterBatchSizeNumber.js"></script>
<script>

    //#region Setup API Url
    var AllBatchSizeNumber = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllBatchSizeNumber";
    var SaveBatchSizeNumber = "@EmcureNPD.Web.Helpers.APIURLHelper.SaveBatchSizeNumber";
    var GetBatchSizeNumberByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.GetBatchSizeNumberById";
    var DeleteBatchSizeNumberByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.DeleteBatchSizeNumberById";
    // #endregion

    //#region Static Messae Init
    var EditLabel = "@SharedLocalizer["Edit"]";
    var DeleteLabel = "@SharedLocalizer["Delete"]";
    var ErrorMessage = "@SharedLocalizer["Error"]";
    var RecordInsertUpdate = "@SharedLocalizer["RecordInsertUpdate"]";
    var RecordDelete = "@SharedLocalizer["RecordDelete"]";
    var AddLabel = "@SharedLocalizer["Add"]";
    var UpdateLabel = "@SharedLocalizer["Update"]";
    //#endregion
</script>
}