@using EmcureNPD.Utility.Models
@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer

@model EmcureNPD.Business.Models.MasterProductTypeEntity
@{
	ViewData["Title"] = @MasterLocalizer["Product Type - Emcure NPD"];
	RolePermissionModel objPermssion = (RolePermissionModel)ViewBag.Access;
	string IsAddAllow = (objPermssion.Add) ? "" : "display: none";
	string IsEditAllow = (objPermssion.Edit) ? "" : "display: none";
	string IsDeleteAllow = (objPermssion.Delete) ? "" : "display: none";
}
<div class="content-header">
	<div class="container-fluid d-flex justify-content-between">
		<h3>@MasterLocalizer["Product Type"]</h3>
		<div>
			<a style="@IsAddAllow" class="btn btn-primary" data-toggle="modal" data-target="#SaveProductTypeModel" data-backdrop="static" data-keyboard="false" onclick="AddProductType();"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
		</div>
	</div>
</div>
<div class="container-fluid overflow-auto background-white-card">
	<table id="ProductTypeTable" class="table table-bordered table-striped table-hover" style="width:100%">
		<thead>
			<tr>
				<th>@MasterLocalizer["Product Type"]</th>
				<th>@SharedLocalizer["Status"]</th>
				<th class="text-center">@SharedLocalizer["Action"]</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

@*DeleteProductTypeModel*@
<div id="DeleteProductTypeModel" class="modal themeModal " role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							@Html.Label(@SharedLocalizer["DeleteConfirm"])
						</div>
					</div>
				</div>
				@Html.Hidden("ProductTypeID")
				<div class="card-footer text-center">
					<button type="button" onclick="DeleteProductType()" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
					<a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
				</div>
			</div>
		</div>
	</div>
</div>

@*AddUpdateModel*@
<div id="SaveProductTypeModel" class="modal themeModal " role="dialog">
	<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="POST" onsubmit="return SaveProductTypeForm(this)">
		<!-- Small boxes (Stat box) -->
		<!-- Main row -->
		<input type="hidden" id="ProductTypeID" name="ProductTypeID" value="0" />
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="ProductTypeTitle"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group required">
								@Html.LabelFor(model => model.ProductTypeName,"Product Type Name", new { @class = "control-label" })
								@Html.EditorFor(model => model.ProductTypeName, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["Product Type Name"] } })
								@Html.ValidationMessageFor(model => model.ProductTypeName, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="required">
								@Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox-checked", @checked = "checked" })
								@Html.Label(@SharedLocalizer["IsActive"],"Active")
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-end card-margin">
					<button type="submit" class="btn btn-success me-3 large-button">@SharedLocalizer["Save"]</button>
					<a class="btn btn-danger ms-3 large-button" data-dismiss="modal">@SharedLocalizer["Cancel"]</a>
				</div>
			</div>
		</div>
	</form>
</div>
@section MyScripts {

	@Html.Partial("_DataTablePartial")

	<script type="text/javascript" src="~/js/Custom/Masters/MasterProductType.js"></script>
	<script>

		//#region Setup API Url
		var AllProductType = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllProductType";
		var SaveProductType = "@EmcureNPD.Web.Helpers.APIURLHelper.SaveProductType";
		var GetProductTypeByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.GetProductTypeById";
		var DeleteProductTypeByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.DeleteProductTypeById";
		// #endregion
		var IsEditAllow = "@IsEditAllow";
		var IsDeleteAllow = "@IsDeleteAllow";
		//#region Static Messae Init
		var EditLabel = "@SharedLocalizer["Edit"]";
		var DeleteLabel = "@SharedLocalizer["Delete"]";
		var ErrorMessage = "@SharedLocalizer["Error"]";
		var RecordInsertUpdate = "@SharedLocalizer["RecordInsertUpdate"]";
		var RecordDelete = "@SharedLocalizer["RecordDelete"]";
		var AddLabel = "@SharedLocalizer["Add"]";
		var UpdateLabel = "@SharedLocalizer["Update"]";
				//#endregion
	</script>
}