@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer

@model EmcureNPD.Business.Models.MasterCurrencyCountryMappingEntity
@{
    ViewData["Title"] = @MasterLocalizer["CurrencyTitle"];
}
<div class="row">
    <section class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="far fa-list-alt mr-2"></i>@MasterLocalizer["Currency"]
                </h3>
                <div class="card-tools md-left">
                    <div class="mybtn-group">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#SaveCurrencyModel" data-backdrop="static" data-keyboard="false" onclick="AddCurrency();"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
                        <div class="export-btn mybtn-group"></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="CurrencyTable" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>@MasterLocalizer["Currency"]</th>
                            <th>@SharedLocalizer["CurrencyCode"]</th>
                            <th>@SharedLocalizer["CurrencySymbol"]</th>
                            <th>@SharedLocalizer["Status"]</th>
                            <th class="text-center">@SharedLocalizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        @*DeleteCurrencyModel*@
        <div id="DeleteCurrencyModel" class="modal themeModal " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["DeleteConfirm"])
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("CurrencyID")
                        <div class="card-footer text-center">
                            <button type="button" onclick="DeleteCurrency()" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*AddUpdateModel*@
        <div id="SaveCurrencyModel" class="modal themeModal " role="dialog">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="POST" onsubmit="return SaveCurrencyForm(this)">
                <!-- Small boxes (Stat box) -->
                <!-- Main row -->
                <input type="hidden" id="CurrencyID" name="CurrencyID" value="0" />
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="CurrencyTitle"></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group required">
                                        @Html.LabelFor(model =>model.MasterCurrencyEntity.CurrencyName,"Currency Name", new { @class = "control-label"  })
                                        @Html.EditorFor(model=>model.MasterCurrencyEntity.CurrencyName, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["CurrencyName"] } })
                                        @Html.ValidationMessageFor(model =>model.MasterCurrencyEntity.CurrencyName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group required">
                                        @Html.LabelFor(model =>model.MasterCurrencyEntity.CurrencyCode,"Currency Code", new { @class = "control-label"  })
                                        @Html.EditorFor(model=>model.MasterCurrencyEntity.CurrencyCode, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["CurrencyCode"] } })
                                        @Html.ValidationMessageFor(model =>model.MasterCurrencyEntity.CurrencyCode, "", new { @class = "text-danger" })
                                    </div>

                                     <div class="form-group required">
                                        @Html.LabelFor(model =>model.MasterCurrencyEntity.CurrencySymbol,"Currency Symbol", new { @class = "control-label"  })
                                        @Html.EditorFor(model=>model.MasterCurrencyEntity.CurrencySymbol, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["CurrencySymbol"] } })
                                        @Html.ValidationMessageFor(model =>model.MasterCurrencyEntity.CurrencySymbol, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="required">
                                        @Html.CheckBoxFor(model => model.MasterCurrencyEntity.IsActive, new { @class = "checkbox-checked", @checked = "checked" })
                                        @Html.Label(@SharedLocalizer["IsActive"],"Active")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">@SharedLocalizer["Save"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["Cancel"]</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css" />
    <script type="text/javascript" src="~/js/Custom/Masters/MasterCurrency.js"></script>
    <script type="text/javascript" src="~/AdminLTE/plugins/select2/js/select2.min.js"></script>
    <script>

        //#region Setup API Url
        var AllCurrency = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllCurrency";
        var AllCountry = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllCountry";
        var SaveCurrency = "@EmcureNPD.Web.Helpers.APIURLHelper.SaveCurrency";
        var GetCurrencyByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.GetCurrencyById";
        var DeleteCurrencyByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.DeleteCurrencyById";

        var AllCurrencyCountry = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllCurrencyCountryMapping";
        var SaveCurrencyCountryMapping = "@EmcureNPD.Web.Helpers.APIURLHelper.SaveCurrencyCountryMapping";
        var GetCurrencyCountryMappingByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.GetCurrencyCountryMappingById";
        var DeleteCurrencyCountryMappingByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.DeleteCurrencyCountryMappingById";
        // #endregion

        //#region Static Messae Init
        var EditLabel = "@SharedLocalizer["Edit"]";
        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordInsertUpdate = "@SharedLocalizer["RecordInsertUpdate"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var AddLabel = "@SharedLocalizer["Add"]";
        var UpdateLabel = "@SharedLocalizer["Update"]";
        //#endregion
    </script>
}