@using EmcureNPD.Utility.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
	var pidfid = ViewBag.id;
	ViewData["Title"] = "Medical";
	RolePermissionModel objPermssion = (RolePermissionModel)ViewBag.Access;
	string IsAddAllow = (objPermssion.Add) ? "" : "display: none";
	string IsEditAllow = (objPermssion.Edit) ? "" : "display: none";
	string IsDeleteAllow = (objPermssion.Delete) ? "" : "display: none";
	string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
@model EmcureNPD.Business.Models.PIDFMedicalViewModel;

<style>
	.content {
		margin: 1rem;
		border-radius: 10px;
		background: white;
	}

	.container-fluid.con {
		padding: 20px;
	}

	.outside-buttons {
		width: 10%;
	}
</style>
<div id="dvPIDFAccrdion"></div>
<section class="pb-2">
	<div class="content-header">
		<div class="container-fluid">
			<h1>Medical Details</h1>
		</div>
	</div>
	<div class="content">
		<div class="container-fluid con">
			<input type="hidden" id="hdnMedicalIsView" value="@(Context.Request.Query["IsView"] == "1" ? "1" : "0")" />
			<h5 class="mb-4">Medical Opinion</h5>
			<form class="row" asp-controller=Medical asp-action=Medical asp-route-id="@ViewBag.id" method="post" enctype="multipart/form-data">
				<input type="hidden" id="IsView" value=@Model.IsView />
				<div class="col-12 mb-4">
					<div class="d-flex">
						<div class="form-check me-4">
							<input class="form-check-input" asp-for=MedicalOpinion type="radio" name="MedicalOpinion" value=1
								   id="radioPositive">
							<label class="m-0" for="radioPositive">
								Positive
							</label>
							<span asp-validation-for=MedicalOpinion class="text-danger"></span>
						</div>
						<div class="form-check">
							<input class="form-check-input" asp-for=MedicalOpinion type="radio" name="MedicalOpinion" value=0
								   id="radioNegative">
							<label class="m-0" for="radioNegative">
								Negative
							</label>
						</div>
					</div>
				</div>
				<div class="col-12 form-group d-flex flex-column mb-4">
					<label for="labelRemarks" class="form-label">Remarks<span class="text-danger">*</span></label>
					<textarea asp-for=Remark name="Remark" class="form-control" id="labelRemarks" cols="15" rows="5"></textarea>
					<span asp-validation-for=Remark class="text-danger" required="required"></span>
				</div>
				<div class="col-12 form-group d-flex flex-column">
					<label for="File" class="form-label">File Upload<span class="text-danger">*</span></label>
					<input  @(!objPermssion.Edit ? "read-only" : "") type="file" style="visibility: hidden;" name="File" id="File"
						   class="bg-transparent text-white" multiple>
				</div>
				<div class="col-12 d-flex align-items-center justify-content-left mb-4">
					<input type="text" asp-for=PidfmedicalId hidden />
					<input type="text" asp-for=PidfmedicalFileId hidden />
					<button class="btn btn-primary me-3 px-4" type="button" id="selectFileButton">Browse</button>
					<ul id="fileList">
						@{
							if (Model.FileName != null)
							{
								for (int i = 0; i < Model.FileName.Length; i++)
								{
									<div class="element" id="element_@i">
										<a href="@ViewBag.baseUrl/Uploads/PIDF/Medical/@Model.FileName[i]" target="_blank">@Html.EditorFor(m => m.FileName[i], new { htmlAttributes = new {@readonly = "readonly", @class="filename text-primary" } })</a>
										<button type="button" class="btn btn-sm btn-danger ml-3 mb-2" onclick="deleteElement(@i)">Delete</button>
									</div>
								}
							}
						}
					</ul>
				</div>
				<div class="col-12 d-flex align-items-center justify-content-end">
					<button  @((!objPermssion.Edit || !objPermssion.Add) ? "disabled" : "") class="btn btn-success me-3 outside-buttons" type="submit">Submit</button>
					<input id="cancelButton" class="btn btn-danger me-3 outside-buttons" value="Cancel" type="button" title="Cancel" onclick="CancelModal()" />
				</div>
			</form>
		</div>
	</div>
</section>

@*CancelModel*@
<div id="CancelModel" class="modal themeModal " role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Cancel</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							@Html.Label("Are you sure, you want to cancel the request?")
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<button type="button" onclick="location.href='@Url.Action("PIDFList", "PIDF", new { ScreenId = 3 })'" data-dismiss="modal" class="btn btn-primary mr-2">Yes</button>
					<a class="btn btn-danger" data-dismiss="modal">No</a>
				</div>
			</div>
		</div>
	</div>
</div>

@section MyScripts {
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/custom/medical/medical.js?v=@jsVersion"></script>
	<script>
		var pidid = @Html.Raw(Json.Serialize(pidfid));
		var _PIDFID = "@Model.Pidfid";
		var _PIDFAccordionURL = "@Url.Action("PIDF", "PIDF")";

		var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
		if (errorCallBack) {
			toastr.error(errorCallBack);
		}
	</script>
}