@using EmcureNPD.Business.Models
@using Microsoft.Extensions.Configuration
@using EmcureNPD.Utility.Utility;
@using EmcureNPD.Web.Helpers;
@using EmcureNPD.Utility.Enums;
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject IHelper Helper
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@inject IConfiguration Configuration
@model EmcureNPD.Business.Models.WishListEntity
@{
    int CurrentUserId = Helper.GetLoggedInUserId();
    var Ismanagement = Helper.IsManagementUser();
    ViewData["Title"] = "Add WishList";
    int i = 0;
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    int ScreenModuleID = 0;
}
<div class="content-header">
    <div class="container-fluid d-flex justify-content-between">
        <h3>Add Wish List</h3>
        <div>
            @*@if (UtilityHelper.GetAccess(Int32.Parse(Convert.ToString(ScreenModuleID)), Helper.GetLoggedInRoleId(), (int)PermissionEnum.Add))
            {
            <a class="btn btn-primary" asp-action="PIDF"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
            <button class="btn btn-primary" id="btnAddWishList" onclick="ShowModal(0,false);"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</button>
            @*}*@
        </div>
    </div>
</div>
<div class="container-fluid overflow-auto background-white-card">
    <form method="POST" id="frmWishList">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group required">
                <div class="form-group required">
                    <input type="hidden" id="WishListId" name="WishListId" value="0" />
                    <input type="hidden" id="LogInId" />
                    <label class="control-label" for="WishListTypeId">Type</label>
                    <span style="color:red;">*</span>
                    <select class="form-control input-sm " data-val="true"
                            data-val-required="Type is required" id="WishListTypeId" name="WishListTypeId">
                    </select>
                    <span class="text-danger" id="span-WishListTypeId" data-valmsg-for="WishListTypeId" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label" for="CountryId">Country</label>
                <span style="color:red;">*</span>
                <select class="form-control input-sm " data-val="true"
                        data-val-required="Country is required" id="CountryId" name="CountryId">
                </select>
                <span class="text-danger field-validation-valid" data-valmsg-for="CountryId" data-valmsg-replace="true"></span>
                <input type="hidden" id="hdnCountryId" name="CountryId" />
            </div>


            <div class="form-group required">
                @Html.LabelFor(o => o.Strength, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.Strength, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(o => o.Strength, "", new { @class = "text-danger",@id="span-Strength" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.DateOfFiling, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.DateOfFiling, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control",@type="date" } })
                @Html.ValidationMessageFor(o => o.DateOfFiling, "", new { @class = "text-danger",@id="span-DateOfFiling" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.NameofVendor, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.NameofVendor, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(o => o.NameofVendor, "", new { @class = "text-danger",@id="span-NameofVendor" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.ReferenceDrugProduct, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.ReferenceDrugProduct, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(o => o.ReferenceDrugProduct, "", new { @class = "text-danger",@id="span-ReferenceDrugProduct" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group required">
                <label class="control-label" for="GeographyId">Geography</label>
                <span style="color:red;">*</span>
                <select class="form-control input-sm " data-val="true"
                        data-val-required="Geography is required" id="GeographyId" name="GeographyId">
                </select>
                <span class="text-danger field-validation-valid" data-valmsg-for="GeographyId" data-valmsg-replace="true"></span>
                <input type="hidden" id="hdnGeographyId" />
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.MoleculeName, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.MoleculeName, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(o => o.MoleculeName, "", new { @class = "text-danger",@id="span-MoleculeName" })
            </div>

            <div class="form-group required">
                @Html.LabelFor(o => o.DateOfApproval, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.DateOfApproval, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control",@type="date" } })
                @Html.ValidationMessageFor(o => o.DateOfApproval, "", new { @class = "text-danger",@id="span-DateOfApproval" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.VendorEvaluationRemark, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.VendorEvaluationRemark, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control",@type="color" } })
                @Html.ValidationMessageFor(o => o.VendorEvaluationRemark, "", new { @class = "text-danger",@id="span-VendorEvaluationRemark" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(o => o.Remarks, new { @class = "control-label" })<span style="color:red;">*</span>
                @Html.EditorFor(o => o.Remarks, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(o => o.Remarks, "", new { @class = "text-danger",@id="span-Remarks" })
            </div>
            <div class="form-group required">

                <input type="radio" id="chkInhouse" name="IsInhouseOrInLicensed" value="InHouse" />
                &nbsp;
                <label class="control-label" for="chkInhouse">
                    In house &nbsp;&nbsp;&nbsp;&nbsp;
                </label>

                <input type="radio" id="chkInLicensed" name="IsInhouseOrInLicensed" value="InLicensed" />
                &nbsp
                <label class="control-label" for="chkInLicensed">
                    In Licensed &nbsp;&nbsp;&nbsp;&nbsp;
                </label>

            </div>
        </div>
            
    </div>
        <div class="row">
            <div class="col-12 text-end">
                <div class="btn-group">
                    <a href="javascript:SaveAsDraft()" class="btn btn-primary model-btn">@SharedLocalizer["Save as Draft"].Value</a>
                    <a href="javascript:Save()" class="btn btn-success model-btn">@SharedLocalizer["Save"].Value</a>
                    <a class="btn btn-danger" href="@Url.Action("WishListView")">@SharedLocalizer["Cancel"].Value</a>
                </div>
            </div>
        </div>
    </form>
    </div>
@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
    <script src="~/js/custom/wishlist/addwishlist.js?v=@jsVersion"></script>
    <script>
        const GetAllGetWishList = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllWishList";
        const GetWishListTypeUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllWishListType";
        const GetAllPIDF = "@EmcureNPD.Web.Helpers.APIURLHelper.GetPIDFDropdown";
        const getCountryByBusinessUnitId = "@EmcureNPD.Web.Helpers.APIURLHelper.GetCountryByBusinessUnitId";
        const SaveWishListUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.AddUpdateWishList";
        const GetWishListByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.GetWishListById"
        var ErrorMessage = "@SharedLocalizer["Error"]";
    </script>
}
