@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> SharedLocalizer
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = @SharedLocalizer["Login"].Value;
}

<section class="login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h3 class="mb-0"><b>@SharedLocalizer["Login"].Value</b></h3>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" placeholder="@SharedLocalizer["Email"].Value" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="@SharedLocalizer["Password"].Value" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">@SharedLocalizer["Login"].Value</button>
                        </div>
                        <!-- /.col -->
                    </div>


                </form>   
                <p class="mb-1">
                    <a asp-action="ForgotPassword">@SharedLocalizer["Forgot Password"].Value ?</a>
                </p>
            
            </div>



                
            </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}