@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["Reset password confirmation"].Value;
}


    <section class="beforeLoginPage forgotpassword-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <h3 class="mb-0">@SharedLocalizer["Success"].Value</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h5>@SharedLocalizer["Your password has been reset"].Value</h5>
                            <br>
                            <a class="btn btn-primary btn-block" asp-action="Login">@SharedLocalizer["Back to Login"].Value</a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







@*<section class="beforeLoginPage">
    <div class="container">
        <div class="loginFormContainer">

            <div class="appoinment-form fadeIn wow" data-wow-duration="1s">
                <h2>@SharedLocalizer["Success"].Value</h2>
                <div class="divider">
                    <span><i class="glyphicon glyphicon-certificate"></i></span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>@SharedLocalizer["Your password has been reset"].Value</h4>
                        <br>
                        <a class="btn btn-default btn-block" asp-action="Login">@SharedLocalizer["Back to Login"].Value</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

