@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums

@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@model EmcureNPD.Business.Models.PIDFAPICharterFormEntity

@{
    ViewData["Title"] = @MasterLocalizer["APICharterDetails"];
}
<div>
    <div class="card card-outline card-primary">
        <div class="card-header">
            <h5 class="mb-0"><b>@MasterLocalizer["APICharterDetailsForm"]</b></h5>
        </div>
        <div class="card-body">
            <form asp-action="APICharterDetailsForm" asp-controller="PBF" method="post">
                <input type="hidden" asp-for="Pidfid" />
                <input type="hidden" asp-for="PIDFAPICharterFormID" />
                <input type="hidden" asp-for="SaveType" />
                <div class="row">
                    <div class="col-md-5">
                        <table class="table">

                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectName,@MasterLocalizer["ProjectName"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProjectName, new { @readonly = "readonly",  @class = "form-control"})
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.Market  ,@MasterLocalizer["Market"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Market, new List<SelectListItem> { },  new {@readonly = "readonly", @class = "form-control"})
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectInitiationDate,@MasterLocalizer["ProjectInitiationDate"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProjectInitiationDate, new {@readonly = "readonly", @class = "form-control", })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectEndDate,@MasterLocalizer["ProjectEndDate"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProjectEndDate, new {@readonly = "readonly",@class = "form-control", @placeholder = @MasterLocalizer["ProjectEndDate"] })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.APIGroupLeader,@MasterLocalizer["APIGroupLeader"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.APIGroupLeader, new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectComplexityId  ,@MasterLocalizer["ProjectComplexity"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.ProjectComplexityId, Html.GetEnumSelectList(typeof(ProjectComplexicity)),  new {@class = "form-control"})
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-7"></div>
                </div>
                <div class="row">
                    @*--------Start----Timeline IN Months-------------*@
                    <div class="col-md-4">
                        @if (Model.timelineInMonths != null)
                        {
                            <table class="table">
                                @for (int i = 0; i < Model.timelineInMonths.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <label class="control-label">@Model.timelineInMonths[i].Name </label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.timelineInMonths[i].NameValue, new { @class = "form-control" , @placeholder="" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    <div class="col-md-8"></div>
                    @*--------End----Timeline IN Months-------------*@
                </div>

                <div class="row">
                    <div>

                        <div class="form-group">
                            <button type="submit" id="Save" class="btn btn-primary">@SharedLocalizer["Submit"]</button>
                            <a class="btn btn-danger" asp-action="PIDFList" asp-controller="PIDF" asp-route-ScreenId="5">@SharedLocalizer["Cancel"]</a>
                            <button type="submit" id="SaveDraft" class="btn btn-info">@SharedLocalizer["SaveDraft"]</button>
                            @*   <a  class="btn btn-success" onClick="SaveApproveClick();">@SharedLocalizer["Approve"]</a>
                            <a  class="btn btn-danger" onClick="SaveRejectClick();">@SharedLocalizer["Reject"]</a>*@
                        </div>
                    </div>
                </div>
                @* ----------End -Save buttons-------------*@
            </form>
        </div>
    </div>
</div>
@section MyScripts {
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom/pidf/APICharterDetailsForm.js"></script>
    <script>
        var SaveStatus = "@TempData["SaveStatus"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var GetAllMarketExtension = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllMarketExtension";

        document.addEventListener("DOMContentLoaded", function () {
            var tabList = [].slice.call(document.querySelectorAll("#mainDivCommercial a"));
            var tabs = $('#tabList');

            tabList.forEach(function (tab) {
                var tabTrigger = new bootstrap.Tab(tab);

                tab.addEventListener("click", function (event) {
                    event.preventDefault();
                    tabTrigger.show();
                });
                tabs.append('<div class="tab-pane fade" id="' + tab + '">');

            });
        });
        var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
        if (errorCallBack) {
            toastr.error(errorCallBack);
        }
        var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack) {
            toastr.success(successCallBack);
        }
    </script>

}










