@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums

@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@model EmcureNPD.Business.Models.APIIPDDetailsFormEntity

@{
    string countryName=string.Empty;
    if (@Model.IPEvalution.CountryIds != null && @Model.IPEvalution.MasterCountries != null)
    {
        int countryid = Convert.ToInt32(@Model.IPEvalution.CountryIds);
        var _objcountry = @Model.IPEvalution.MasterCountries.Find(x => x.CountryId == countryid);        
        countryName =  (_objcountry==null)? string.Empty: _objcountry.CountryName;
    }
}
<div>
    <div class="card card-outline card-primary">
        <div class="card-header">
            <h5 class="mb-0"><b>@MasterLocalizer["APIIPDDetailsForm"]</b></h5>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div id="PIDFScreen">
            @* @{ await Html.RenderPartialAsync("PIDF",Model.pidfEntity);}*@
            <h5 class="mb-0"><b>@MasterLocalizer["IPEvalution"]</b></h5>
        </div>
        <div class="card-body" id="mainDivCommercial">

            @*-----------------yearTable---------------------*@
            @*-----------------End yearTable---------------------*@

            @*-----------------Strength---------------------*@
            @*-----------------End- of-Strength---------------------*@
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProjectName,@MasterLocalizer["ProjectName"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProjectName, new { @readonly = "readonly",  @class = "form-control", @placeholder = @MasterLocalizer["ProjectName"] })
                    </div>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.MarketDetailsNewPortCGIDetails,@MasterLocalizer["MarketDetailsNewPortCGIDetails"], new { @class = "control-label" })
                        @*@Html.TextBoxFor(model => model.MarketDetailsNewPortCGIDetails, new {  @autocomplete = "off",  @class = "form-control", @placeholder = @MasterLocalizer["MarketDetailsNewPortCGIDetails"] })*@
                        <input type="file" id="MarketDetailsNewPortCGIDetails" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="btnPreview" class="form-control btn btn-primary">Preview</button>
                </div>
                <div class="col-md-7">
                    <div class="form-group required">
                        <img height="100" width="300" id="imgPreviewMarketdetails" />
                    </div>
                </div>
                <input type="hidden" id="Pidfid" value=@Model.Pidfid />
                @* <input type="hidden" id="SaveType" />
                <input type="hidden" id="LoggedInUserId" value=@UtilityHelper.Encrypt(Convert.ToString(@Model.CreatedBy)) />*@
            </div>
            <h3 class="m-3">@MasterLocalizer["FormulationDetails"]</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProductType,@MasterLocalizer["ProductType"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProductType, new {  @readonly = "readonly",@class = "form-control"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.DrugsCategory,@MasterLocalizer["DrugsCategory"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.DrugsCategory, new {  @readonly = "readonly",@class = "form-control"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProductStrength,@MasterLocalizer["ProductStrength"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProductStrength, new {  @readonly = "readonly",@class = "form-control"})
                    </div>
                </div>
            </div>

            <h3>@MasterLocalizer["Formulation"]</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.FormulationQuantity,@MasterLocalizer["FormulationQuantity"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FormulationQuantity, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.FormulationQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Development,@MasterLocalizer["Development"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Development, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Development, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ScaleUp,@MasterLocalizer["ScaleUp"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ScaleUp, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.ScaleUp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Exhibit,@MasterLocalizer["Exhibit"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Exhibit, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Exhibit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.PlantQC,@MasterLocalizer["PlantQC"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.PlantQC, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.PlantQC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Total,@MasterLocalizer["Total"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Total, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @* ----------Start -IPEvalution-------------*@
            <div>
                <h4>@MasterLocalizer["IPEvalution"]</h4>
                <div style="overflow-x:auto;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>       @MasterLocalizer["PatentNumber"]                 </th>
                                <th>       @MasterLocalizer["MarketName"]                        </th>
                                <th>       @MasterLocalizer["DataExclusivity"]         </th>
                                <th>       @MasterLocalizer["FillingType"]         </th>
                                <th>       @MasterLocalizer["FillingType"]                 </th>
                                <th>       @MasterLocalizer["ApprovedGenetics"]                  </th>
                                <th>       @MasterLocalizer["LaunchedGenetics"]                  </th>
                                <th>       @MasterLocalizer["Countrys"]                  </th>
                                <th>       @MasterLocalizer["LegalStatus"]                  </th>
                                <th>       @MasterLocalizer["CostOfLitication"]                  </th>
                                <th>       @MasterLocalizer["Comments"]                  </th>
                                <th>       @MasterLocalizer["Innovators"]                  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>                    1                                </td>
                                <td> @Model.IPEvalution.ProjectName                      </td>
                                <td> @Model.IPEvalution.MarketName                            </td>
                                <td> @Model.IPEvalution.DataExclusivity                      </td>
                                <td> @Model.IPEvalution.FillingType                      </td>
                                <td> @Model.IPEvalution.ApprovedGenetics                      </td>
                                <td> @Model.IPEvalution.LaunchedGenetics                    </td>
                                <td> @countryName                                         </td>
                                <td> @Model.IPEvalution.LegalStatus                    </td>
                                <td> @Model.IPEvalution.CostOfLitication                    </td>
                                <td> @Model.IPEvalution.Comments                    </td>
                                <td> @Model.IPEvalution.Innovators                    </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        @* ----------End -IPEvalution-------------*@

        @* ----------Start -Patent Details-------------*@
        <div>
            <h4>@MasterLocalizer["PatentDetails"]</h4>
            <div style="overflow-x:auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>       @MasterLocalizer["PatentNumber"]                 </th>
                            <th>        @MasterLocalizer["Type"]                        </th>
                            <th>       @MasterLocalizer["OriginalExpiraDate"]         </th>
                            <th>       @MasterLocalizer["ExtensionExpiryDate"]         </th>
                            <th>       @MasterLocalizer["CommentsPatentSpecific"]                 </th>
                            <th>       @MasterLocalizer["Strategy"]                  </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IPD_PatentDetailsList)
                        {
                        <tr>
                            <td> @item.PatentNumber              </td>
                            <td> @item.Type                      </td>
                            <td> @item.OriginalExpiryDate        </td>
                            <td> @item.ExtensionExpiryDate       </td>
                            <td> @item.Comments                  </td>
                            <td> @item.Strategy                  </td>
                        </tr>
                        @* <tr>
                        <td>
                        @Html.TextBox(item.PatentNumber, new { @readonly = "readonly",@class = "form-control "})
                        </td>
                        </tr>*@
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @* ----------End -Patent Details-------------*@

        @* ----------Start -Save buttons-------------*@
        <div class="row">
            <div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" >@SharedLocalizer["Save"]</button>
                    <a class="btn btn-danger" asp-action="PBFAPI" asp-controller="PIDF">@SharedLocalizer["Cancel"]</a>
                    <button type="submit" class="btn btn-info">@SharedLocalizer["SaveDraft"]</button>
                </div>
            </div>
        </div>
        @* ----------End -Save buttons-------------*@
    </div>
</div>
</div>

@section MyScripts {
<script src="~/js/custom/pidf/APIIPDDetailsForm.js"></script>
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    //var GetAllCurrency = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllCurrency"; 

    var ErrorMessage = "@SharedLocalizer["Error"]";
    document.addEventListener("DOMContentLoaded", function () {
        var tabList = [].slice.call(document.querySelectorAll("#mainDivCommercial a"));
        var tabs = $('#tabList');

        tabList.forEach(function (tab) {
            var tabTrigger = new bootstrap.Tab(tab);

            tab.addEventListener("click", function (event) {
                event.preventDefault();
                tabTrigger.show();
            });
            tabs.append('<div class="tab-pane fade" id="' + tab + '">');

        });
    });
    var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
    if (errorCallBack) {
        toastr.error(errorCallBack);
    }
    var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
    if (successCallBack) {
        toastr.success(successCallBack);
    }
</script>

}










