@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility;
@using EmcureNPD.Utility.Enums
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@using EmcureNPD.Web.Helpers;
@inject IHelper Helper
@inject IConfiguration Configuration
@model EmcureNPD.Business.Models.PBFFormEntity
@{
    ViewData["Title"] = "PBF";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];

}

<div id="dvPIDFAccrdion"></div>
<div id="dvIPDAccrdion"></div>
<div id="dvCommercialAccrdion"></div>
<div class="content-header">
    <h2 class="m-0" id="hPIDFTitle">Project Budget Form</h2>
</div>
<div id="dvPBFContainer">
    <form id="AddPBFForm" asp-action="PBF" asp-controller="PBF" method="post">
        <input type="hidden" asp-for="Pidfid" />
        <input type="hidden" asp-for="Pidfpbfid" />
        <input type="hidden" asp-for="PBFGeneralId" />
        <input type="hidden" asp-for="BusinessUnitId" />
        <input type="hidden" asp-for="BusinessUnitsByUser" id="PBF_BusinessUnitsByUser" />
        <input type="hidden" asp-for="StrengthId" />
        <input type="hidden" asp-for="SaveType" />
        <input type="hidden" id="hdnPBFGeneralId" value="@(Model.PBFGeneralId)" />
        <input type="hidden" id="hdnPIDFPBFId" value="@(Model.Pidfpbfid)" />
        <input type="hidden" id="hdnPBFIsView" value="@(Context.Request.Query["IsView"] == "1" ? "1" : "0")" />
      
        <div class="container-fluid background-white-card">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProjectName,@MasterLocalizer["ProjectName"], new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.TextBoxFor(model => model.ProjectName, new {@class = "form-control", @placeholder = @MasterLocalizer["ProjectName"] ,@required="required",@readonly ="readonly",@tabindex=-1})
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">

                        @Html.LabelFor(model => model.MarketMappingId,@SharedLocalizer["Market"], new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        @*<select id="BusinessUnitId" name="BusinessUnitId" class="form-control readOnlyUpdate" required></select>*@
                        @Html.DropDownListFor(model => model.MarketMappingId, new List<SelectListItem> { }, new { @class = "form-control market", @multiple = "multiple", @required = "required" })
                        <input type="hidden" id="hdnMarketMappingIds" value="@Model.MarketIds" />
                        @Html.ValidationMessageFor(model => model.MarketMappingId, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* <div class="col-md-3">
                    <div class="form-group required">
                    @Html.LabelFor(model => model.Market,@MasterLocalizer["Market"], new { @class = "control-label" })<span class="text-danger">*</span>
                    @Html.TextBoxFor(model => model.Market, new {@class = "form-control", @placeholder = @MasterLocalizer["Market"] ,@required="required"})

                    </div>
                    </div>*@
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.PatentStatus,"Patent Status", new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.TextBoxFor(model => model.PatentStatus, new {@class = "form-control", @placeholder = "Patent Status" ,@required="required",@readonly ="readonly",@tabindex=-1})

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.BerequirementId, "BE Requirement", new { @class = "control-label" })<span class="text-danger">*</span>
                        <input type="hidden" id="hdnBERequirementId" value="@Model.BerequirementId" />
                        <select id="BERequirementId" name="BerequirementId" class="form-control readOnlyUpdate" required></select>
                        @Html.ValidationMessageFor(model => model.BerequirementId, "", new { @class = "text-danger" })

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.NumberOfApprovedAnda,"No. of  Approved ANDAs", new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.TextBoxFor(model => model.NumberOfApprovedAnda, new {@class = "form-control", @placeholder = "No. of  Approved ANDAs" ,@required="required",type = "number", min = 0})
                        @Html.ValidationMessageFor(model => model.NumberOfApprovedAnda, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProductTypeId, "Product Type", new { @class = "control-label" })<span class="text-danger">*</span>
                        <input type="hidden" id="hdnProductTypeId" value="@Model.ProductTypeId" />
                        <select id="ProductTypeId" name="ProductTypeId" class="form-control readOnlyUpdate" required></select>
                        @Html.ValidationMessageFor(model => model.ProductTypeId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.PlantId, "Plant Name", new { @class = "control-label" })<span class="text-danger">*</span>
                        <input type="hidden" id="hdnPlantId" value="@Model.PlantId" />
                        <select id="PlantId" name="PlantId" class="form-control readOnlyUpdate" required></select>
                        @Html.ValidationMessageFor(model => model.PlantId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.WorkflowId, "Work Flow", new { @class = "control-label" })<span class="text-danger">*</span>
                        <input type="hidden" id="hdnWorkflowId" value="@Model.WorkflowId" />
                        <select id="WorkflowId" name="WorkflowId" class="form-control readOnlyUpdate" required></select>
                        @Html.ValidationMessageFor(model => model.WorkflowId, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.DosageId, "Dosage", new { @class = "control-label" })<span class="text-danger">*</span>
                        <input type="hidden" id="hdnPbfDosageFormId" value="@Model.DosageId" />
                        <select id="PbfDosageFormId" name="DosageId" class="form-control readOnlyUpdate" required></select>
                        @Html.ValidationMessageFor(model => model.DosageId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.SponsorBusinessPartner,"Sponsor / Business Partner", new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.TextBoxFor(model => model.SponsorBusinessPartner, new {@class = "form-control", @placeholder = "Sponsor / Business Partner" ,@required="required"})
                        @Html.ValidationMessageFor(model => model.SponsorBusinessPartner, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.FillingTypeId,"Filling Type", new { @class = "control-label" })<span class="text-danger">*</span>
                        <input type="hidden" id="hdnFillingTypeId" value="@Model.FillingTypeId" />
                        <select id="FillingTypeId" name="FillingTypeId" class="form-control readOnlyUpdate" required></select>
                        @Html.ValidationMessageFor(model => model.FillingTypeId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.BusinessRelationable,@MasterLocalizer["BusinessRationable"], new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.TextAreaFor(model => model.BusinessRelationable, new {@class = "form-control", @placeholder = @MasterLocalizer["BusinessRationable"] ,@required="required"})
                        @Html.ValidationMessageFor(model => model.BusinessRelationable, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ScopeObjectives,"Scope & Objectives", new { @class = "control-label" })<span class="text-danger">*</span>
                        @Html.TextAreaFor(model => model.ScopeObjectives, new { @class = "form-control", @placeholder = "Scope & Objectives" ,@required="required"})
                        @Html.ValidationMessageFor(model => model.ScopeObjectives, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h3 class="card-title mb-0">

                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    Formulation Detail
                                </button>

                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.FormRnDdivisionId, "Form R&D Division", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnPbfFormRNDDivisionId" value="@Model.FormRnDdivisionId" />
                                        <select id="PbfFormRNDDivisionId" name="FormRnDdivisionId" class="form-control readOnlyUpdate" required></select>
                                        @Html.ValidationMessageFor(model => model.FormRnDdivisionId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.ProjectInitiationDate,"Project Initiation Date", new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.TextBoxFor(@modal=> modal.ProjectInitiationDate,"{0:yyyy-MM-dd}",new{@type="date",@class="form-control readOnlyUpdate", @placeholder = "Project Initiation Date",@required="required"})
                                        @Html.ValidationMessageFor(model => model.ProjectInitiationDate, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.RnDhead,"R&D Head", new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.TextBoxFor(model => model.RnDhead, new {@class = "form-control", @placeholder = "R&D Head",@required="required" })
                                        @Html.ValidationMessageFor(model => model.RnDhead, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.ProjectManager,"Project Manager", new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.TextBoxFor(model => model.ProjectManager, new {@class = "form-control", @placeholder = "Project Manager" ,@required="required"})
                                        @Html.ValidationMessageFor(model => model.ProjectManager, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.PackagingTypeId, "Packaging type", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnPbfPackagingTypeId" value="@Model.PackagingTypeId" />
                                        <select id="PbfPackagingTypeId" name="PackagingTypeId" class="form-control readOnlyUpdate" required></select>
                                        @Html.ValidationMessageFor(model => model.PackagingTypeId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.ManufacturingId, "Manufacturing Plant", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnPbfManufacturingId" value="@Model.ManufacturingId" />
                                        <select id="PbfManufacturingId" name="ManufacturingId" class="form-control readOnlyUpdate" required></select>
                                        @Html.ValidationMessageFor(model => model.ManufacturingId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h3 class="card-title mb-0">

                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    Reference Product Detail
                                </button>

                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.BrandName,"Brand", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnBrandName" value="@Model.BrandName" />
                                        @Html.TextBoxFor(model => model.BrandName, new {@class = "form-control", @placeholder = "Brand" ,@required="required"})
                                        @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group required">

                                        @Html.LabelFor(model => model.RFDApplicant,"Applicant", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnRFDApplicant" value="@Model.RFDApplicant" />

                                        @Html.TextBoxFor(model => model.RFDApplicant, new {@class = "form-control", @placeholder = "Applicant" ,@required="required"})
                                        @Html.ValidationMessageFor(model => model.RFDApplicant, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.RFDCountryId, "Country", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnPbfRFDCountryId" value="@Model.RFDCountryId" />
                                        <select id="PbfRFDCountryId" name="RFDCountryId" class="form-control readOnlyUpdate" required></select>
                                        @Html.ValidationMessageFor(model => model.RFDCountryId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.RFDIndication,"Indication", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnRFDIndication" value="@Model.RFDIndication" />

                                        @Html.TextBoxFor(model => model.RFDIndication, new {@class = "form-control", @placeholder = "Indication",@required="required" })
                                        @Html.ValidationMessageFor(model => model.RFDIndication, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="divbusinessunit" class="card card-primary card-tabs">
                <input type="hidden" id="PIDFBusinessUnitId" value="@Model.BusinessUnitId" />
                <input type="hidden" id="PIDFId" value="@Model.Pidfid" />

                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs text-center m-0" id="custom-tabs-two-tab" role="tablist"></ul>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h3 class="card-title mb-0">

                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    General
                                </button>

                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" id="dvGeneralPBF">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.Capex,"Capex", new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.TextBoxFor(model => model.Capex, new {@class = "form-control", @placeholder = "Capex" ,@required="required"})
                                        @Html.ValidationMessageFor(model => model.Capex, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.TotalExpense,"Total Expenses", new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.TextBoxFor(model => model.TotalExpense, new { @class = "form-control", @placeholder = "Total Expenses", @readonly ="readonly",@required="required",@tabindex=-1 })

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.ProjectComplexity,"Project Complexity", new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.TextBoxFor(model => model.ProjectComplexity, new { @class = "form-control", @placeholder = "Project Complexity" ,@required="required"})
                                        @Html.ValidationMessageFor(model => model.ProjectComplexity, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.GeneralProductTypeId, "Product Type", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnGeneralProductTypeId" value="@Model.GeneralProductTypeId" />
                                        <select id="GeneralProductTypeId" name="GeneralProductTypeId" class="form-control readOnlyUpdate" required></select>
                                        @Html.ValidationMessageFor(model => model.GeneralProductTypeId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group required">
                                        <label class="control-label">Budget and Timeline Submission</label><span class="text-danger">*</span>
                                        @Html.TextBoxFor(@modal=> modal.BudgetTimelineSubmissionDate,"{0:yyyy-MM-dd}",new{@type="date",@class="form-control readOnlyUpdate",@required="required"})
                                        @Html.ValidationMessageFor(model => model.BudgetTimelineSubmissionDate, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        <label class="control-label">Project Development Initial</label><span class="text-danger">*</span>
                                        @Html.TextBoxFor(@modal=> modal.ProjectDevelopmentInitialDate,"{0:yyyy-MM-dd}",new{@type="date",@class="form-control readOnlyUpdate",@required="required"})
                                        @Html.ValidationMessageFor(model => model.ProjectDevelopmentInitialDate, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.FormulationGLId, "Formulation GL", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnGeneralFormulationGLId" value="@Model.FormulationGLId" />
                                        <select id="GeneralFormulationGLId" name="FormulationGLId" class="form-control readOnlyUpdate" required></select>
                                        @Html.ValidationMessageFor(model => model.FormulationGLId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        @Html.LabelFor(model => model.AnalyticalGLId, "Analytical GL", new { @class = "control-label" })<span class="text-danger">*</span>
                                        <input type="hidden" id="hdnGeneralAnalyticalGLId" value="@Model.AnalyticalGLId" />
                                        <select id="GeneralAnalyticalGLId" name="AnalyticalGLId" class="form-control readOnlyUpdate" required></select>
                                        @Html.ValidationMessageFor(model => model.AnalyticalGLId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required">
                                        <label class="control-label">Test Licence Availability</label><span class="text-danger">*</span>
                                        @Html.HiddenFor(model => model.TestLicenseAvailability, new { @class = "control-label" ,@required="required"})
                                        <div stylle="display: inline-block;" id="testlicence">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.TestLicenseAvailability, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header bg-primary">
                                            <h3 class="card-title mb-0">

                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    Strength
                                                </button>

                                            </h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <table id="tableGeneralStrength" class="table text-center" style="width:100%">
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




            <div class="card card-maroon card-outline card-outline-tabs m-0">
                <div class="card-header p-0">
                    <ul class="nav nav-tabs m-0"
                        id="custom-tabs-department-tab" role="tablist">
                        @if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD))
                        {
                            <li class="nav-item p-0">
                                <a class="nav-link active px-2"
                               id="custom-tabs-department-RnD-tab"
                               data-toggle="pill"
                               href="#custom-tabs-RnD" role="tab"
                               aria-controls="custom-tabs-RnD"
                               aria-selected="true">RnD</a>
                            </li>
                        }
                        @if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical))
                        {
                            <li class="nav-item p-0">
                                <a class="nav-link px-2"
                               id="custom-tabs-department-Analytical-tab"
                               data-toggle="pill"
                               href="#custom-tabs-Analytical"
                               role="tab"
                               aria-controls="custom-tabs-Analytical"
                               aria-selected="false">Analytical</a>
                            </li>
                        }
                        @if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical))
                        {
                            <li class="nav-item p-0">
                                <a class="nav-link px-2"
                               id="custom-tabs-department-Clinical-tab"
                               data-toggle="pill"
                               href="#custom-tabs-Clinical" role="tab"
                               aria-controls="custom-tabs-Clinical"
                               aria-selected="false">Clinical</a>
                            </li>
                        }

                    </ul>
                </div>
                @if ((UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD)) ||
                (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical)) ||
                (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical))
                )

                {
                    <div class="card-body" id="dvAllBottomTabsPBF">
                        <div class="tab-content"
                         id="custom-tabs-department-tabContent">
                            @if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD))
                            {
                                 if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.RnD))
                                {
                                     <input type="hidden" id="hdnPBFRNDPermission" value="true" />
                                }
                                <div class="tab-pane fade show active"
                             id="custom-tabs-RnD" role="tabpanel"
                             aria-labelledby="custom-tabs-department-RnD-tab">
                                    <div class="container-fluid">
                                        <div class="row">
                                            @* batch size*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">

                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Batch Size
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group required">
                                                                    @Html.LabelFor(model => model.RNDMasterEntities.BatchSizeId, "Batch Size", new { @class = "control-label" })
                                                                    @*<input type="hidden" id="hdnBatchSizeId" value="@Model.RNDMasterEntities.BatchSizeId" />*@
                                                                    <select id="RNDBatchSizeId" name="RNDMasterEntities.BatchSizeId" class="form-control readOnlyUpdate" required></select>
                                                                </div>
                                                            </div>
                                                            <table id="tablerndbatchsize" class="table text-center" style="width:100%">
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @* api Requirement*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                API Requirement
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group required">
                                                                    @Html.LabelFor(model => model.RNDMasterEntities.ApirequirementMarketPrice, "Market Prize (Rs/kg)", new { @class = "control-label" })
                                                                    @Html.TextBoxFor(@modal=> modal.RNDMasterEntities.ApirequirementMarketPrice,new{@class="form-control calcRNDApirequirementsMarketPrice",type = "number", min = 0})
                                                                </div>
                                                            </div>
                                                            <table id="tablerndapirequirement" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @* Exicipient Requirement*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Exicipient Requirement
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <table id="tablerndexicipientrequirement" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                            <input type="hidden" id="hdnrndExicipientData" name="RNDExicipientRawData" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* Packaging Material*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Packaging Material
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <table id="tablerndpackagingmaterialrequirement" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                            <input type="hidden" id="hdnrndPackagingData" name="RNDPackagingRawData" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* Tooling Change Part*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Tooling Change Part
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <table id="tablerndtoolingchangepart" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                            <input type="hidden" id="hdnrndToolingChangePartData" name="RNDToolingChangePartRawData" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* Capex Misc Expanses*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Capex Miscellaneouse Expenses
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <table id="tablerndcapexmiscellaneousexpenses" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                            <input type="hidden" id="hdnrndCapexMiscellaneousExpensesData" name="RNDCapexMiscellaneousExpensesRawData" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* Plant Support Cost*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Plant Support Cost
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group required">
                                                                    @Html.LabelFor(model => model.RNDMasterEntities.PlanSupportCostRsPerDay, "Plant Utilization rate Rs/Day", new { @class = "control-label" })
                                                                    @Html.TextBoxFor(@modal=> modal.RNDMasterEntities.PlanSupportCostRsPerDay,new{@class="form-control",type = "number", min = 0})
                                                                </div>
                                                            </div>
                                                            <table id="tablerndplantsupportcost" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                            <input type="hidden" id="hdnrndPlantSupportCostData" name="RNDPlantSupportCostRawData" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* Referense Product Details*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Reference Product Detail
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <table id="tablerndreferenceproductdetail" class="table text-center tableTDHint" style="width:100%">
                                                            </table>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*  Man Power Cost & Project Duration*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Man Power Cost & Project Duration
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group required">
                                                                    @Html.LabelFor(model => model.RNDMasterEntities.ManHourRate, "Man Hour Rate (Rs/hour)", new { @class = "control-label" })
                                                                    @Html.TextBoxFor(@modal=> modal.RNDMasterEntities.ManHourRate,new{@class="form-control",type = "number", min = 0})
                                                                </div>
                                                            </div>
                                                            <table id="tablerrndmanpowercostprojectduration" class="table text-center tableTDHintManHrs" style="width:100%">
                                                            </table>
                                                        </div>
                                                        <input type="hidden" id="hdnrndManPowerCostProjectDuration" name="RNDManPowerCostProjectDurationRawData" />
                                                    </div>
                                                </div>
                                            </div>
                                            @*  Filling Expanses*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Filling Expenses
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <table id="tablerndfilingexpenses" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                        </div>
                                                        <input type="hidden" id="hdnrndFillingExpensesData" name="RNDFillingExpensesRawData" />
                                                    </div>
                                                </div>
                                            </div>
                                            @*  Phase Wise Budget*@
                                            <div class="col-12">
                                                <div class="card collapsed-card">
                                                    <div class="card-header bg-primary">
                                                        <h3 class="card-title mb-0">

                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                Phase Wise Budget
                                                            </button>

                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <table id="tablerndphasewisebudget" class="table text-center tableTDHint" style="width:100%">
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical))
                            {
                                if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Analytical))
                                {
                                     <input type="hidden" id="hdnPBFAnalyticalPermission" value="true" />
                                }
                                <div class="tab-pane fade show"
                             id="custom-tabs-Analytical" role="tabpanel"
                             aria-labelledby="custom-tabs-department-Analytical-tab">
                                    <div class="container-fluid">
                                        <div class="row">

                                            <table id="tableanalytical" class="table text-center tableTDHint" style="width:100%">
                                            </table>
                                            <input type="hidden" id="hdnAnalyticalData" name="AnalyticalRawData" />
                                            <input type="hidden" id="hdnAnalyticalStrengthMappingData" name="AnalyticalStrengthMappingRawData" />
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.View, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical))
                            {
                                 if (UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Edit, (int)EmcureNPD.Utility.Enums.SubModulePermissionEnum.Clinical))
                                {
                                     <input type="hidden" id="hdnPBFClinicalPermission" value="true" />
                                }
                                <div class="tab-pane fade show"
                             id="custom-tabs-Clinical" role="tabpanel"
                             aria-labelledby="custom-tabs-department-clinical-tab">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <table id="tableclinical" class="table text-center tableTDHint" style="width:100%">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>



            <br>
            <div class="row">
                <div class="col-12 text-end">
                    <div class="form-group" id="dvMainButton">
                        @if ((UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(),(int)EmcureNPD.Utility.Enums.PermissionEnum.Edit) || UtilityHelper.GetAccess((int)EmcureNPD.Utility.Enums.ModuleEnum.PBF, Helper.GetLoggedInRoleId(), (int)EmcureNPD.Utility.Enums.PermissionEnum.Add)))
                        {
                            <button type="submit" class="btn btn-success me-3 outside-buttons operationButton" id="save" onclick="SavePBFForm('Save')">@SharedLocalizer["Submit"]</button>

                            @if (Convert.ToBoolean(Context.Request.Query["pbf"]) == false)
                            {
                                <button type="submit" class="btn btn-primary me-3 outside-buttons operationButton" id="savedraft" onclick="SavePBFForm('Draft')">@SharedLocalizer["SaveDraft"]</button>
                            }

                        }
                        <a id="btnPBFCancel" class="btn btn-danger me-3 outside-buttons operationButton" onclick="CancelPopup()">@SharedLocalizer["Cancel"]</a>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@Html.Partial("_CancelRequest", (int)PIDFScreen.PBF)

<script type="text/javascript" src="~/js/Custom/PBF/PBF.js?v=@jsVersion"></script>
<link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css" />
<script type="text/javascript" src="~/AdminLTE/plugins/select2/js/select2.min.js"></script>
@*<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

<script>
    var GetAllPBF = "@EmcureNPD.Web.Helpers.APIURLHelper.GetPBFDropdown";
    var UserWiseBUList="@Model.BusinessUnitsByUser";
    var _selectBusinessUnit = "@UtilityHelper.Decreypt(Convert.ToString(Context.Request.Query["bui"]))";
    var _PIDFID = "@UtilityHelper.Decreypt(Convert.ToString(Context.Request.Query["pidfid"]))";
    var GetPBFAllTabDetails = "@EmcureNPD.Web.Helpers.APIURLHelper.GetPBFTabDetails";
    var ErrorMessage = "@SharedLocalizer["Error"]";

    var _EncPIDFID = "@Convert.ToString(Context.Request.Query["pidfid"])";
        var _PIDFBusinessUnitId = "@Convert.ToString(Context.Request.Query["bui"])";
        var _PIDFAccordionURL = "@Url.Action("PIDF", "PIDF")";
        var _IPDAccordionURL = "@Url.Action("IPD", "IPD")";
    var _CommercialAccordionURL = "@Url.Action("PIDFCommerciaLDetails", "Commercial")";

</script>