@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Home Page"].Value;
}
<section id="home-page-banner" class="home-page-banner" style="display:none;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/tillomed-banner3.jpg" class="img-responsive home-banner" />
                <div class="image-caption">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1 class="fadeInDown wow" data-wow-duration="1s">
                                    @Html.Raw(SharedLocalizer["Welcome to the <span>Cidofovir</span> Exposure Registry of Tillomed Laboratories Limited."].Value)
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/tillomed-banner1.jpg" class="img-responsive home-banner" />
                <div class="image-caption">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <h1 class="fadeInDown wow" data-wow-duration="1s">@Html.Raw(SharedLocalizer["WE CARE ABOUT YOUR <span>HEALTH</span>"].Value)</h1>
                                <a class="hidden-xs btn btn-primary fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="AboutUs">@SharedLocalizer["About Us"].Value</a>
                                <a class="hidden-xs btn btn-default fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="ContactUs">@SharedLocalizer["Contact Us"].Value</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/tillomed-banner2.jpg" class="img-responsive home-banner" />
                <div class="image-caption">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <h1 class="fadeInDown wow" data-wow-duration="1s">@Html.Raw(SharedLocalizer["WE CARE ABOUT YOUR <span>HEALTH</span>"].Value)</h1>
                                <a class="hidden-xs btn btn-primary fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="AboutUs">@SharedLocalizer["About Us"].Value</a>
                                <a class="hidden-xs btn btn-default fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="ContactUs">@SharedLocalizer["Contact Us"].Value</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/emcureBG.jpg" class="img-responsive home-banner" />
                <div class="image-caption">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <h1 class="fadeInDown wow" data-wow-duration="1s">@Html.Raw(SharedLocalizer["WE CARE ABOUT YOUR <span>HEALTH</span>"].Value)</h1>
                                <a class="hidden-xs btn btn-primary fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="AboutUs">@SharedLocalizer["About Us"].Value</a>
                                <a class="hidden-xs btn btn-default fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="ContactUs">@SharedLocalizer["Contact Us"].Value</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/tillomed-banner4.jpg" class="img-responsive home-banner" />
                <div class="image-caption">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <h1 class="fadeInDown wow" data-wow-duration="1s">@Html.Raw(SharedLocalizer["WE CARE ABOUT YOUR <span>HEALTH</span>"].Value)</h1>
                                <a class="hidden-xs btn btn-primary fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="AboutUs">@SharedLocalizer["About Us"].Value</a>
                                <a class="hidden-xs btn btn-default fadeInUp wow" data-wow-duration="1s" asp-area="" asp-controller="Home" asp-action="ContactUs">@SharedLocalizer["Contact Us"].Value</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--banner ends -->
<main class="main" style="display:none;">
    <!-- Registry  starts -->
    <section class="department-accordian faQ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="top-text">
                        <h2>@SharedLocalizer["Registry Information"].Value</h2>
                        <p>@SharedLocalizer["FAQs"].Value</p>
                        <div class="divider">
                            <span><i class="glyphicon glyphicon-certificate"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 faq-accordian">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse1" aria-expanded="true">@SharedLocalizer["What Cidofovir is and what it is used for?"].Value</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    @Html.Raw(SharedLocalizer["<p><b>Cidofovir is used to treat an eye infection called CMV retinitis in patients with AIDS (Acquired Immunodeficiency Syndrome).</b>  Cidofovir will not cure CMV retinitis but may improve your condition by delaying progression of the disease.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>The safety and efficacy of cidofovir has not been demonstrated in diseases other than CMV retinitis in patients with AIDS.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Cidofovir must be administered by a healthcare professional (doctor or nurse) in a hospital setting.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> What is CMV retinitis?</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>CMV retinitis is an eye infection caused by a virus named cytomegalovirus (CMV). CMV attacks the retina of the eye and may cause loss of vision, and eventually lead to blindness. Patients with AIDS are at high risk of developing CMV retinitis or other forms of CMV disease such as colitis (an inflammatory bowel disease). Treatment for CMV retinitis is necessary to reduce the potential for blindness.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Cidofovir is an antiviral medicine which blocks the replication of CMV by interfering with viral DNA production.</p>"].Value)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2">@SharedLocalizer["What you need to know before you use Cidofovir"].Value</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Do not use cidofovir</p>"].Value)
                                    <ul>
                                        <li>@Html.Raw(SharedLocalizer["<b>If you are allergic</b> to cidofovir or any of the other ingredients of this medicine (listed in section 6)."].Value)</li>
                                        <li>@Html.Raw(SharedLocalizer["<b>If you have ever had kidney disease.</b>"].Value)</li>
                                        <li>@Html.Raw(SharedLocalizer["<b>If you cannot take the medicine probenecid</b> because of a serious allergy to probenecid or other sulfa-containing medicines (e.g. sulfamethoxazole)."].Value)</li>
                                    </ul>
                                    @Html.Raw(SharedLocalizer["<p>If any of these apply to you, talk to your doctor. <b>You are not to be given cidofovir.</b></p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Warnings and precautions</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Talk to your doctor or pharmacist or nurse before using cidofovir.</p>"].Value)
                                    <ul>
                                        <li>@Html.Raw(SharedLocalizer["<b>Kidney damage is the major side effect of cidofovir treatment.</b> Therefore, your doctor may need to monitor carefully, particularly if you already have kidney problems or are on haemodialysis."].Value)</li>
                                        <li>@Html.Raw(SharedLocalizer["<b>If you have diabetes mellitus. </b>Cidofovir should be used with caution in diabetic patients due to the potential increased risk of developing low pressure in the eye <i>(ocular hypotony)</i>."].Value)</li>
                                    </ul>
                                    @Html.Raw(SharedLocalizer["<p><b>During treatment with cidofovir you should receive regular follow-up eye examinations</b> for possible eye irritation, inflammation or swelling. <b>If you get pain, redness or itching of the eye or changes in your vision, tell your doctor promptly.</b></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Cidofovir caused reduced testes weight and low sperm count (hypospermia) in animals. Although not observed in human studies of cidofovir, such changes may occur in humans and cause infertility. <b>Men should practice barrier birth control methods during and for 3 months after treatment with cidofovir.</b></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Cidofovir is not used for the treatment of HIV infection. Cidofovir will not stop you passing HIV infection onto other people so <b>you should continue to take precautions to avoid infecting others.</b></p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Children</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Cidofovir has not been studied in children. Therefore, <b>this medicine should not be used in children.</b></p>"].Value)
                                    <br />
                                    <p class="FaqTitle"><i class="glyphicon glyphicon-hand-right"></i> @Html.Raw(SharedLocalizer["Other medicines and cidofovir"].Value)</p>
                                    @Html.Raw(SharedLocalizer["<p><b>Tell your doctor or pharmacist if you are taking, have recently taken or might take any other medicines,</b> including medicines obtained without a prescription, as these may interact with cidofovir or probenecid.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>It is very important to tell your doctor if you are receiving other medicines that may damage your kidneys.</b></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>These include:</p>"].Value)
                                    <ul>
                                        <li>@Html.Raw(SharedLocalizer["Tenofovir containing medicines, used to treat HIV-1 infection and/or chronic hepatitis B infection aminoglycosides, pentamidine or vancomycin (for bacterial infections)"].Value)</li>
                                        <li>@Html.Raw(SharedLocalizer["Aamphotericin B (for fungal infection)"].Value)</li>
                                        <li>@Html.Raw(SharedLocalizer["Foscarnet (for viral infection)"].Value)</li>
                                        <li>@Html.Raw(SharedLocalizer["Adefovir (for HBV infection)"].Value)</li>
                                    </ul>
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p>These medicines must be stopped <b>at least 7 days</b> before taking cidofovir.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Probenecid may interact with other medicines commonly used in the treatment of AIDS and AIDS-related illnesses, such as zidovudine (AZT). If you are taking zidovudine, you should discuss with your doctor whether to temporarily stop taking zidovudine or decrease the dose of zidovudine by 50% on days when cidofovir and probenecid are given.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>The potential for interactions between cidofovir and anti-HIV protease inhibitors has not been studied.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Cidofovir with food and drink</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>Food should be taken</b> before you are given cidofovir. Your doctor may instruct you to drink plenty of fluids before receiving cidofovir.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Pregnancy and breast-feeding</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>You should not be given cidofovir if you are pregnant.</b> If you become pregnant while receiving this medication, you must inform your doctor immediately. Cidofovir has been shown to cause damage in unborn animals and should not be used during pregnancy unless the potential benefits justify the risks to the foetus. <b>If you could get pregnant, you must use an effective method of contraception</b> to stop you getting pregnant during treatment with cidofovir and for 1 month afterwards.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>You should not be given cidofovir if you are breast-feeding.</b> It is not known whether cidofovir is passed on to the baby in human milk. Because many medicines are passed through to human milk, nursing mothers should stop cidofovir or stop breast-feeding if they continue to receive cidofovir.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>In general, women with HIV should not breast-feed</b> in order to avoid passing HIV to their infant through the milk.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Driving and using machines</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Cidofovir may cause short-term side effects such as fatigue or weakness. If you drive or operate machinery, discuss this with your doctor to get advice about stopping these activities based upon your disease and your tolerance of the medicine.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Cidofovir 75 mg/ml concentrate for solution for infusion contains sodium</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>This medicine contains 2.5 mmol (or 57 mg) sodium per vial which should be taken into consideration if you are on a controlled sodium diet.</p>"].Value)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3">
                                        @SharedLocalizer["How to use Cidofovir?"].Value
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.Raw(SharedLocalizer["<p>Cidofovir 75 mg/ml concentrate for solution for infusion <b>is given by intravenous infusion (a drip into a vein)</b>. It must <b>not</b> be administered by other methods including intraocular injection (direct injection into the eye) or topically (on the skin). Cidofovir must be given by a doctor or nurse with appropriate experience in treating people with AIDS. The doctor or nurse will transfer the appropriate dose of cidofovir from the vial to an infusion bag containing 100 ml 0.9% (normal) saline solution. The entire volume of the bag will be infused into your vein at a constant rate over a period of 1 hour using a standard infusion pump. The recommended dose, frequency of use, or rate of infusion must not be exceeded. At the end of this leaflet, there is further information for healthcare professionals on how to administer cidofovir.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>To lower the risk of kidney damage, probenecid tablets and intravenous fluids (saline solution) must be given on the day of each cidofovir</b> (See sub-sections “How to take probenecid with cidofovir” and “How IV fluids are given before cidofovir” below.) </p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Dose in adults</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>The dose you will need is calculated based on your body weight.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p><i><b>Starting (induction) treatment</b></i></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>The recommended dose of cidofovir in patients with normal kidney function is 5 mg per kg of body weight given once weekly for two consecutive weeks.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p><i><b>Maintenance treatment</b></i></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Beginning two weeks after completion of induction treatment, the recommended maintenance dose of cidofovir in patients with normal kidney function is 5 mg per kg of body weight given once every two weeks.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p><i><b>Dose adjustment</b></i></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>If you have kidney problems, cidofovir may not be appropriate treatment for you. Samples of your urine and/or blood will be taken before each infusion of cidofovir and used for testing kidney function. For patients with evidence of decreased kidney function, your cidofovir dose may be interrupted or stopped depending on your individual case.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> If you use more cidofovir than you should</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>If you have accidentally been given more cidofovir than prescribed for you, tell your doctor immediately.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> How to take probenecid with cidofovir </p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Probenecid tablets are given to lower the risk of kidney damage. You must take 3 doses of probenecid tablets orally on the same day as cidofovir as shown in the following table:</p>"].Value)
                                    <br />
                                    <table class="table table-bordered table-hover table-striped" style="max-width:700px;">
                                        <tr>
                                            <th>@SharedLocalizer["Time"].Value</th>
                                            <th>@SharedLocalizer["Dose"].Value</th>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer["3 hours before start of cidofovir"].Value</td>
                                            <td>@SharedLocalizer["2 g probenecid"].Value</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer["2 hours after end of cidofovir"].Value</td>
                                            <td>@SharedLocalizer["1 g probenecid"].Value</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer["8 hours after end of cidofovir"].Value</td>
                                            <td>@SharedLocalizer["1 g probenecid"].Value</td>
                                        </tr>
                                        <tr>
                                            <th>@SharedLocalizer["Total"].Value</th>
                                            <th>@SharedLocalizer["4 g probenecid"].Value</th>
                                        </tr>
                                    </table>
                                    @Html.Raw(SharedLocalizer["<p>Probenecid is only taken on the same day that cidofovir is given.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> How IV fluids are given before cidofovir</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>Normal saline is given to lower the risk of kidney damage.</b> You should receive a total of one litre of 0.9% (normal) saline solution intravenously (as a drip into a vein) before each cidofovir dose. The saline solution should be infused over a 1 hour period immediately before the cidofovir. If you can tolerate the additional fluid load, your doctor may administer a second litre of fluid. If administered, the second litre of saline should be given either at the start of the cidofovir or immediately afterwards, and infused over a 1 to 3 hour period. Your doctor may also tell you to drink plenty of fluids.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>If you have any further questions on the use of this medicine, ask your doctor or pharmacist or nurse.</p>"].Value)
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse4">
                                        @SharedLocalizer["Possible side effects"].Value
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.Raw(SharedLocalizer["<p>Like all medicines, this medicine can cause side effects, although not everybody gets them.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>These side effects usually disappear when treatment with cidofovir is stopped. <b>If any of the side effects gets serious, or if you notice any side effects not listed in this leaflet, please tell your doctor or pharmacist immediately.</b></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>The most common side effect observed with cidofovir is damage to the kidneys.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Very common side effects</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><i>(These can affect more than 1 user in 10)</i></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>low white blood cell counts, headache, nausea, vomiting, protein in the urine, increase in blood creatinine (a measure of kidney function), hair loss, rash, weakness/fatigue and fever.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Common side effects</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><i>(These can affect 1 to 10 users in 100)</i></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Inflammation of the eye, reduced pressure in the eyes, difficult or laboured breathing, shortness of breath, diarrhoea and chills.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Any pain, redness or itching of the eye or changes in your vision should be promptly reported to your doctor so that your treatment can be reviewed.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Additional reactions reported from post-marketing experience include kidney failure, damage to kidney tubule cells, inflammation of the pancreas and hearing impairment.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p class='FaqTitle'><i class='glyphicon glyphicon-hand-right'></i> Possible side effects of taking probenecid</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><b>Very common side effects possibly related to probenecid</b></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><i>(These can affect more than 1 user in 10)</i></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>nausea, vomiting, rash and fever.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p><b>Common side effects possibly related to probenecid</b></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p><i>(These can affect 1 to 10 users in 100)</i></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>headache, weakness/fatigue, chills and allergic reactions.</p>"].Value)
                                    <br />
                                    @Html.Raw(SharedLocalizer["<p>To reduce the risk of nausea and/or vomiting associated with taking probenecid, you should eat food before each dose. Your doctor might instruct you to take other medicines such as anti-emetics (anti sickness medicines), antihistamines and/or paracetamol to decrease the side effects of probenecid.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Probenecid may also cause other side effects including loss of appetite, sore gums, flushing, hair loss, dizziness, reduced red blood cell count and increased frequency of passing water (urinating). Allergic reactions, with skin inflammation, itching, hives and, rarely, severe allergic reactions, and serious skin reaction have occurred. There have been reports of reduced white blood counts, liver toxicity, kidney toxicity and destruction of red blood cells. Reductions in blood cell and platelet counts have also occurred.</p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>Therefore, before giving you probenecid your doctor should consult the current prescribing information regarding the safety of probenecid. <b>You should also read the probenecid package leaflet.</b></p>"].Value)
                                    @Html.Raw(SharedLocalizer["<p>For further information please do not hesitate to <a href='https://www.cidofovir.com/Home/ContactUs'><b>contact us</b></a> or speak to your <b>doctor</b>.</p>"].Value)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script>
        $('.panel-collapse').on('shown.bs.collapse', function (e) {
            var $panel = $(this).closest('.panel');
            $('html,body').animate({
                scrollTop: $panel.offset().top - 70
            }, 500);
        });
    </script>
}
