@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["Privacy Policy"].Value;
}

<section class="privacyPolicy">
    <div class="container text-center">
        <h2>@SharedLocalizer["Privacy Policy"].Value</h2>
        <div class="divider">
            <span><i class="glyphicon glyphicon-certificate"></i></span>
        </div>
    </div>
    <div class="container-fluid">
        <h4>@SharedLocalizer["Privacy notice"].Value</h4>
        <p>@SharedLocalizer["Tillomed group of companies (each referred to in this privacy notice as ‘organisation‘) collect and process personal data belonging to a number of categories of individuals."].Value</p>
        <p>@SharedLocalizer["The data controller will be the holder of the marketing authorisation for the relevant product: Tillomed Laboratories Limited (UK), Tillomed Pharma GMBH (Germany or Belgium), Laboratorios Tillomed Spain (Spain)."].Value</p>
        <br />
        <p>@SharedLocalizer["The organisation collects and processes personal data relating to:"].Value</p>
        <ul>
            <li>@Html.Raw(SharedLocalizer["Reports of adverse effects potentially arising from consumption of products referred to as <b>PV-related personal data (hyperlink to specific policy)</b>"])</li>
            <li>@Html.Raw(SharedLocalizer["Reports of potential product quality defects where there are no pharmacovigilance consequences, referred to as <b>product quality complaint-related personal data (hyperlink to specific policy)</b>"])</li>
            <li>@Html.Raw(SharedLocalizer["Medical enquiries about products where there are no pharmacovigilance consequences, referred to as <b>medical enquiry-related personal data (hyperlink to specific policy)</b>"])</li>
            <li>@Html.Raw(SharedLocalizer["Enquiries relating to product availability where there are no pharmacovigilance consequences, referred to as product enquiry-related personal data <b>(hyperlink to specific policy)</b>"])</li>
        </ul>
        <br />
        <p>@SharedLocalizer["The organisation is committed to being transparent about how it collects and uses that data and to meeting its data protection obligations."].Value</p>
        <p>@SharedLocalizer["You can access more information using the links above to pages which explain:"].Value</p>
        <ul>
            <li>@Html.Raw(SharedLocalizer["What information the organisation collects?"])</li>
            <li>@Html.Raw(SharedLocalizer["Where the information comes from?"])</li>
            <li>@Html.Raw(SharedLocalizer["Why your data is processed, where we store it and for how long we retain it?"])</li>
            <li>@Html.Raw(SharedLocalizer["Who your data will be disclosed to?"])</li>
            <li>@Html.Raw(SharedLocalizer["How does the organisation protect data?"])</li>
        </ul>
        <p>@SharedLocalizer["The organisation takes the security of your data seriously. The organisation has internal policies and controls in place to try to ensure that your data is not lost, accidentally destroyed, misused or disclosed, and is not accessed except by its employees in the performance of their duties."].Value</p>
        <p>@SharedLocalizer["Where the organisation engages third parties to process personal data on its behalf, they do so on the basis of written instructions, are under a duty of confidentiality and are obliged to implement appropriate technical and organisational measures to ensure the security of data."].Value</p>
        <br />
        <br />
        <h4>@SharedLocalizer["Your rights"].Value</h4>
        <p>@SharedLocalizer["As a data subject, you have a number of rights. You can:"].Value</p>
        <ul>
            <li>@Html.Raw(SharedLocalizer["Access and obtain a copy of your data on request; require the organisation to change incorrect or incomplete data;"])</li>
            <li>@Html.Raw(SharedLocalizer["Require the organisation to delete or stop processing your data, for example where the data is no longer necessary for the purposes of processing; and"])</li>
            <li>@Html.Raw(SharedLocalizer["Object to the processing of your data where the organisation is relying on its legitimate interests as the legal ground for processing."])</li>
        </ul>
        <p>@SharedLocalizer["If you would like to exercise any of these rights, please contact the Company Secretary by emailing <a href='mailto:companysecretary@tillomed.co.uk' target='_blank'>companysecretary@tillomed.co.uk.</a> If you believe that the organisation has not complied with your data protection rights, you can complain to the Information Commissioner."].Value</p>
        <p>@SharedLocalizer["What if you do not provide personal data?"].Value</p>
        <p>@SharedLocalizer["If you do not provide your personal data, the organisation may not be able to deal with your report or enquiry effectively, or at all."].Value</p>
        <p>@SharedLocalizer["Automated decision-making."].Value</p>
        <p>@SharedLocalizer["No decisions are based solely on automated data processing."].Value</p>
    </div>
</section>


