@using EmcureNPD.Business.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model EmcureNPD.Business.Models.DataTableResponseModel
@{
    int i = 0;
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}

    <div class="content-header">
        <div class="container-fluid d-flex justify-content-between">
            <h3>All Notifications</h3>
            <div>
               
            </div>
        </div>
    </div>
    <div class="container-fluid overflow-auto background-white-card">
        <table id="AllNotificationTable" class="table dataTable table-bordered table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Title</th>
                   @* <th>PidfNo</th>*@
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody class="text-center">
               @* @foreach (var item in Model.Data) 
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.notificationTitle</td>
                        <td>@item.pidfNo</td>
                        <td>@item.createdDate.ToString("dd/MM/yyy")</td>
                      
                    </tr>
                   
                }*@
             
            </tbody>
        </table>
    </div>

@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
<script src="~/js/custom/notification/allnotifications.js?v=@jsVersion"></script>
<script>
        const GetAllNotification = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllNotification";
</script>
}