@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model EmcureNPD.Business.Models.AuditLogEntity
@{
	ViewData["Title"] = @MasterLocalizer["AuditLog"];
	string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<div class="content-header">
	<h2 class="m-0">@MasterLocalizer["Audit Log"]</h2>
</div>

<div class="container-fluid background-white-card">
<div class="row">
	
				<table id="AuditLogTable" class="table table-bordered table-striped table-hover" style="width:100%">
					<thead>
						<tr>
							<th>@MasterLocalizer["Module Name"]</th>
							@*<th>@MasterLocalizer["Action Type"]</th>*@
							<th>@MasterLocalizer["Created Date"]</th>
							<th>@MasterLocalizer["Created By"]</th>
							<th class="text-center">@SharedLocalizer["Action"]</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
	
		@*AuditLogModel*@
		<div id="AuditLogViewModel" class="modal themeModal" role="dialog">
			<div class="modal-dialog modal-xl">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">@SharedLocalizer["Audit Log"]</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
					</div>
				</div>
			</div>
			</div>
	
</div>
@section MyScripts {

	@Html.Partial("_DataTablePartial")
	<script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
	<script type="text/javascript" src="~/js/Custom/AuditLog/AuditLog.js?v=@jsVersion"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	<script>
		//#region Static Label
		var AllAuditLog = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllAuditlog";
		var DeleteLabel = "@SharedLocalizer["Delete"]";
		var ErrorMessage = "@SharedLocalizer["Error"]";
		var RecordDelete = "@SharedLocalizer["RecordDelete"]";
																	//#endregion
	</script>

}