@model EmcureNPD.Business.Models.ForgotPasswordViewModel
@*@inject IViewLocalizer Localizer*@
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Account> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@{
    ViewData["Title"] = @Localizer["ForgotPasswordTitle"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-card d-flex flex-column justify-content-center align-items-center">
    <div class="card">
        <h2 class="login-card-title m-0 text-center">@Localizer["ForgotPassword"].Value</h2>
        <div class="card-body login-card-body">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="@Localizer["Email"]" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    @Html.ValidationMessage(@Localizer["EmailNotExist"], new { @class = "text-danger" })
                    @Html.ValidationMessage(@Localizer["MailSent"], new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-block" style="width:130px">@SharedLocalizer["Submit"]</button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-danger" style="width:130px" href="@Url.Action("Login","Account")" data-dismiss="modal">@SharedLocalizer["BackToLogin"]</a>
                    </div>
                </div>
                @if (ViewBag.Message != null)
                {
                    if (ViewBag.Message.Contains("successfully"))
                    {
                        <div class="row">
                            <div class="text-success">@ViewBag.Message</div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="text-danger">@ViewBag.Message</div>
                        </div>
                    }
                }
                </form>
        </div>
        </div>
</div>