@model EmcureNPD.Business.Models.MasterUserResetPasswordEntity
@*@inject IViewLocalizer Localizer*@
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Account> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@{
    ViewData["Title"] = @Localizer["ResetPassword"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <h3 class="mb-0"><b>@Localizer["ResetPassword"].Value</b></h3>
        </div>
        <div class="card-body">
            <form asp-action="ResetPassword" asp-controller="Account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    @Html.HiddenFor(model=>model.ForgotPasswordToken)
                    <div class="col-md-12">
                        <div class="form-group required">
                            @Html.LabelFor(model => model.Password, @Localizer["NewPassword"].Value, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["New password"] } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group required">
                            @Html.LabelFor(model => model.ConfirmNewPassowrd, @Localizer["ConfirmNewPassword"].Value, new { @class = "control-label" })
                            @Html.EditorFor(model => model.ConfirmNewPassowrd, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["Confirm New password"] } })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassowrd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">@SharedLocalizer["Save"]</button>
                            <a class="btn btn-success" asp-controller="Account" asp-action="Login" data-dismiss="modal">@SharedLocalizer["GoToLogin"]</a>
                        </div>                        
                    </div>
                </div>
                @if (ViewBag.Message != null)
                {
                    <div class="row">
                        <div class="text-danger">@ViewBag.Message</div>
                    </div>
                }
                </form>             
        </div>
       
        </div>
</div>