@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums

@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@model EmcureNPD.Business.Models.PIDFAPIIPDFormEntity
<div>

    <div class="card card-outline card-primary">

        <div class="card-header">
            <h5 class="mb-0"><b>@MasterLocalizer["APIIPDDetailsForm"]</b></h5>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div id="PIDFScreen">
            @* @{ await Html.RenderPartialAsync("PIDF",Model.pidfEntity);}*@
            <h5 class="mb-0"><b>IP Evalution</b></h5>
        </div>
        <div class="card-body" id="mainDivCommercial">

            @*-----------------yearTable---------------------*@
            @*-----------------End yearTable---------------------*@

            @*-----------------Strength---------------------*@
            @*-----------------End- of-Strength---------------------*@
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProjectName,@MasterLocalizer["ProjectName"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProjectName, new { @readonly = "readonly",  @class = "form-control", @placeholder = @MasterLocalizer["ProjectName"] })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.MarketDetailsNewPortCGIDetails,@MasterLocalizer["MarketDetailsNewPortCGIDetails"], new { @class = "control-label" })
                        @*@Html.TextBoxFor(model => model.MarketDetailsNewPortCGIDetails, new {  @autocomplete = "off",  @class = "form-control", @placeholder = @MasterLocalizer["MarketDetailsNewPortCGIDetails"] })*@
                        <input type="file" id="MarketDetailsNewPortCGIDetails" class="form-control" />
                        <img height="50" width="50" />
                    </div>
                </div>
                <input type="hidden" id="Pidfid" value=@Model.Pidfid />
                @* <input type="hidden" id="SaveType" />
                <input type="hidden" id="LoggedInUserId" value=@UtilityHelper.Encrypt(Convert.ToString(@Model.CreatedBy)) />*@
            </div>
            <div class="row">
                <h3>@MasterLocalizer["FormulationDetails"]</h3>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProductType,@MasterLocalizer["ProductType"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProductType, new {  @readonly = "readonly",@class = "form-control"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.DrugsCategory,@MasterLocalizer["DrugsCategory"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.DrugsCategory, new {  @readonly = "readonly",@class = "form-control"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ProductStrength,@MasterLocalizer["ProductStrength"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProductStrength, new {  @readonly = "readonly",@class = "form-control"})
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>@MasterLocalizer["Formulation"]</h3>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.FormulationQuantity,@MasterLocalizer["FormulationQuantity"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FormulationQuantity, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.FormulationQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Development,@MasterLocalizer["Development"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Development, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Development, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.ScaleUp,@MasterLocalizer["ScaleUp"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ScaleUp, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.ScaleUp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Exhibit,@MasterLocalizer["Exhibit"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Exhibit, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Exhibit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.PlantQC,@MasterLocalizer["PlantQC"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.PlantQC, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.PlantQC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Total,@MasterLocalizer["Total"], new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Total, new { @autocomplete = "off",@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @* ----------Start -IPEvalution-------------*@
            <div class="row">
                <div class="col-md-5">
                    <h4>@MasterLocalizer["IPEvalution"]</h4>
                    <table class="table table-bordered">
                        <tbody>
                            @{
                                var properties = this.GetType().GetProperties();
                                foreach (var prop in properties)
                                {
                                    <span>@prop</span>
                                }                             
                            }
                           @* @foreach (var item in Model.IPEvalution)
                            {
                                <tr>
                                    <td>
                                        @Html.LabelFor(item,@MasterLocalizer["ProductStrength"], new { @class = "control-label" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(item, new { @readonly = "readonly",@class = "form-control "})
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
            @* ----------End -IPEvalution-------------*@

            @* ----------Start -Patent Details-------------*@
            <div class="row">
                <div class="col-md-5">
                    <h4>@MasterLocalizer["PatentDetails"]</h4>
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var item in Model.IPD_PatentDetailsList)
                            {
                                <tr>
                                    <td>
                                        @item.PatentNumber
                                    </td>
                                </tr>
                               @* <tr>
                                    <td>
                                        @Html.TextBox(item.PatentNumber, new { @readonly = "readonly",@class = "form-control "})
                                    </td>
                                </tr>*@
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @* ----------End -Patent Details-------------*@

            @* ----------Start -Save buttons-------------*@
            <div class="row">
                <div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onClick="SaveClick();">@SharedLocalizer["Save"]</button>
                        <a class="btn btn-danger" asp-action="PIDFCommercial" asp-controller="PIDF">@SharedLocalizer["Cancel"]</a>

                        <button type="submit" class="btn btn-info" onClick="SaveDraftClick();">@SharedLocalizer["SaveDraft"]</button>

                    </div>
                </div>
            </div>
            @* ----------End -Save buttons-------------*@
        </div>
    </div>
</div>

@section MyScripts {
    <script src="~/js/custom/pidf/ipdDetailsForm.js"></script>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        var GetAllCurrency = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllCurrency";
        var SaveCommercialPIDF = "@EmcureNPD.Web.Helpers.APIURLHelper.SaveCommercialPIDF";
        var GetCommercialFormData = "@EmcureNPD.Web.Helpers.APIURLHelper.GetCommercialFormData";
        var GetAllFinalSelection = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllFinalSelection";

        var ErrorMessage = "@SharedLocalizer["Error"]";
        document.addEventListener("DOMContentLoaded", function () {
            var tabList = [].slice.call(document.querySelectorAll("#mainDivCommercial a"));
            var tabs = $('#tabList');

            tabList.forEach(function (tab) {
                var tabTrigger = new bootstrap.Tab(tab);

                tab.addEventListener("click", function (event) {
                    event.preventDefault();
                    tabTrigger.show();
                });
                tabs.append('<div class="tab-pane fade" id="' + tab + '">');

            });
        });
        var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
        if (errorCallBack) {
            toastr.error(errorCallBack);
        }
        var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack) {
            toastr.success(successCallBack);
        }
    </script>

}










