@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@{
    ViewData["Title"] = @MasterLocalizer["PIDFTitle"];
}
<div class="row">
    <section class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="far fa-list-alt mr-2"></i>@MasterLocalizer["PBFAPI"]
                </h3>
                <div class="card-tools md-left">
                    <div class="mybtn-group">
                        <a class="btn btn-primary" onClick="approveRejDeleteData('A')"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Approve"]</a>
                        <a class="btn btn-primary" onClick="approveRejDeleteData('R')"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Reject"]</a>
                        <a class="btn btn-danger" onClick="approveRejDeleteData('D')"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Delete"]</a>
                        <div class="export-btn mybtn-group"></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="PIDFTable" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>@MasterLocalizer["PIDF No"]</th>
                            <th>@MasterLocalizer["Project Name"]</th>
                            <th>@SharedLocalizer["Brand Name"]</th>
                            <th>@SharedLocalizer["DosageForm Name"]</th>
                            <th>@SharedLocalizer["Country Name"]</th>
                            <th>@SharedLocalizer["Product Packaging Type"]</th>
                            <th>@SharedLocalizer["Created By"]</th>
                            <th>@SharedLocalizer["Status"]</th>
                            <th class="text-center">@SharedLocalizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        @*ApproveModel*@
        <div id="ApproveModel" class="modal themeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Approve"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["ApproveConfirm"])
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('A')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*RejectModel*@
        <div id="RejectModel" class="modal themeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Reject"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["RejectConfirm"])
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('R')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*DeletePIDFModel*@
        <div id="DeleteModel" class="modal themeModal " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["DeleteConfirm"])
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("PIDFID")
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('D')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js"></script>
    <script type="text/javascript" src="~/js/Custom/PIDF/CommonPIDFListPBF.js"></script>
    <script>

        //#region Setup API Url
        var GetCommonPIDFList = "@EmcureNPD.Web.Helpers.APIURLHelper.GetCommonPIDFList";
        var CommonApproveRejectDeletePidf = "@EmcureNPD.Web.Helpers.APIURLHelper.CommonApproveRejectDeletePidf";
        // #endregion
        var ScreenName = "PBFAPIPIDF";  // This 'ScreenName'' is depend on Stored Proc. in DB, Don't change 'ScrrenName' Value'
        //#region Static Messae Init
        var EditLabel = "@SharedLocalizer["Edit"]";
        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var AddLabel = "@SharedLocalizer["Add"]";
        var UpdateLabel = "@SharedLocalizer["Update"]";
        var SaveStatus = "@TempData["SaveStatus"]";
        @*var successCallBack = '@TempData[EmcureNPD.Web.Helpers.PIDFHelper.SuccessMessage]';
        if (successCallBack)
        {
        toastr.success(successCallBack);
        }*@

                //#endregion
    </script>
}