@using EmcureNPD.Utility.Enums;
@using EmcureNPD.Utility.Utility;
@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Web.Helpers;

@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@inject IHelper Helper
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    int CurrentUserId = Helper.GetLoggedInUserId();
    var Ismanagement = Helper.IsManagementUser();
    ViewData["Title"] = @MasterLocalizer["PIDF List"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    int ScreenModuleID = 0;
    //bool IsAccessToLoggedInUser = UtilityHelper.GetAccess(Int32.Parse(Convert.ToString(Context.Request.Query["ScreenId"])), Helper.GetLoggedInRoleId(), (int)PermissionEnum.Approve);

}
<div class="content-header">
    <div class="container-fluid d-flex justify-content-between">
        @if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PIDF))
        {
            <h3>@MasterLocalizer["PIDF"]</h3>
            ScreenModuleID = (int)ModulePermissionEnum.PIDF;
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.IPD))
        {
            <h3>@SharedLocalizer["IPD"]</h3>
            ScreenModuleID = (int)ModulePermissionEnum.IPD;
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Medical))
        {
            <h3>@SharedLocalizer["Medical"]</h3>

        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Commercial))
        {
            <h3>@SharedLocalizer["Commercial"]</h3>
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.API))
        {
            <h3>@SharedLocalizer["API"]</h3>
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PBF))
        {
            <h3>@SharedLocalizer["PBF"]</h3>
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Finance))
        {
            <h3>@SharedLocalizer["Finance"]</h3>
            ScreenModuleID = (int)ModulePermissionEnum.Finance;
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Management))
        {
            <h3>@SharedLocalizer["Management"]</h3>
            ScreenModuleID = (int)ModulePermissionEnum.ManagementHOD;
            
        } 
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Project))
        {
            <h3>@SharedLocalizer["Project Management"]</h3>
            <div>
                    <a class="btn btn-primary" href="@Url.Action("ProjectSummary","Project", new{ScreenId =Context.Request.Query["ScreenId"]})"><i class="fas fa-project-diagram mr-2"></i>Gantt Chart</a>
            </div>
        }
        
            @if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PIDF) || Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.IPD) || Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Finance) || (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Management) && Ismanagement.Equals("True")))
            {
                bool IsAccessToLoggedInUser = UtilityHelper.GetAccess(Int32.Parse(Convert.ToString(ScreenModuleID)), Helper.GetLoggedInRoleId(), (int)PermissionEnum.Approve);
            <div>
                @if(IsAccessToLoggedInUser)
                {
                    <a class="btn btn-success" onClick="ApproveRejectPIDF('A', @(Context.Request.Query["ScreenId"]), '/PIDF/PIDFList?ScreenId=@(Context.Request.Query["ScreenId"])')"><i class="fa fa-check-circle mr-1"></i> @SharedLocalizer["Approve"]</a>
                    <a class="btn btn-danger" onClick="ApproveRejectPIDF('R', @(Context.Request.Query["ScreenId"]), '/PIDF/PIDFList?ScreenId=@(Context.Request.Query["ScreenId"])')"><i class="fa fa-ban mr-1"></i> @SharedLocalizer["Reject"]</a>
                }
                @if ((Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PIDF)) && UtilityHelper.GetAccess(Int32.Parse(Convert.ToString(ScreenModuleID)), Helper.GetLoggedInRoleId(), (int)PermissionEnum.Add))
                {
                    <a class="btn btn-primary" asp-action="PIDF"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
                }
            </div>
            }
    </div>
</div>

<div class="container-fluid overflow-auto background-white-card">
    <span class="text-danger">Note: Below table is having horizontal scroolbar, Please scroll to view detailed column data.</span>
    <div>&nbsp;</div>
    <table id="PIDFTable" class="table table-hover">
        <thead>
            <tr class="text-center">
                <th class="text-center" style="min-width:25px"></th>
                <th class="text-center" style="min-width:25px"></th>
                <th style="min-width:90px">@MasterLocalizer["PIDF No"]</th>
                <th style="min-width:110px">@MasterLocalizer["Project Name"]</th>
                <th style="min-width:110px">@SharedLocalizer["Brand Name"]</th>
                <th style="min-width:110px">@SharedLocalizer["Dosage Form"]</th>
                <th style="min-width:110px">@SharedLocalizer["Business Unit"]</th>
                <th style="min-width:110px">@SharedLocalizer["Oral Name"]</th>
                <th style="min-width:80px">@SharedLocalizer["In House"]</th>
                <th style="min-width:50px">@SharedLocalizer["IPD"]</th>
                <th style="min-width:50px">@SharedLocalizer["Medical"]</th>
                <th style="min-width:50px">@SharedLocalizer["Commercial"]</th>
                <th style="min-width:50px">@SharedLocalizer["PBF"]</th>
                <th style="min-width:50px">@SharedLocalizer["API"]</th>
                <th style="min-width:50px">@SharedLocalizer["Finance"]</th>
                @*                    <th style="min-width:50px">@SharedLocalizer["Management"]</th>*@
                <th style="min-width:140px">@SharedLocalizer["Market Extension"]</th>
                <th style="min-width:140px">@SharedLocalizer["Product Packaging"]</th>
                <th style="min-width:140px">@SharedLocalizer["Ref Product Brand"]</th>
                <th style="min-width:100px">@SharedLocalizer["Applicant"]</th>
                <th style="min-width:80px">@SharedLocalizer["Country"]</th>
                <th style="min-width:80px">@SharedLocalizer["Indication"]</th>
                <th style="min-width:120px">@SharedLocalizer["DIA /ANDA/ ANDS"]</th>
                <th style="min-width:100px">@SharedLocalizer["Created By"]</th>
                <th style="min-width:100px">@SharedLocalizer["Created Date"]</th>
                <th style="min-width:150px">@SharedLocalizer["Status"]</th>
                <th style="min-width:100px" class="text-center">@SharedLocalizer["Action"]</th>
            </tr>
        </thead>
        <tbody class="text-center">
        </tbody>
    </table>
</div>


@*ApproveModel*@
@*        <div id="ApproveModel" class="modal themeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Approve"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["ApproveConfirm"])
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('A')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
@*RejectModel*@
@*<div id="RejectModel" class="modal themeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Reject"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["RejectConfirm"])
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('R')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
@*DeletePIDFModel*@
@*<div id="DeleteModel" class="modal themeModal " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["DeleteConfirm"])
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("PIDFID")
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('D')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


@Html.Partial("_PIDFApproveReject")

@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/Custom/PIDF/MasterPIDFList.js?v=@jsVersion"></script>

    <script>

        //#region Setup API Url
        var AllPIDF = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllPIDF";
        var ApproveRejectDeletePidf = "@EmcureNPD.Web.Helpers.APIURLHelper.ApproveRejectDeletePidf";
        // #endregion
        const currentUserId = "@CurrentUserId";
        //#region Static Messae Init
        var EditLabel = "@SharedLocalizer["Edit"]";
        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var AddLabel = "@SharedLocalizer["Add"]";
        var UpdateLabel = "@SharedLocalizer["Update"]";
        var _screenId = '@Context.Request.Query["ScreenId"]';
        var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack) {
            toastr.success(successCallBack);
        }



        var IsEditPIDF = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PIDF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit)' == 'True'
        var IsAddPIDF = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PIDF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add)' == 'True'
        var IsApprovePIDF = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PIDF,Helper.GetLoggedInRoleId(),(int)PermissionEnum.Approve)' == 'True'
        var IsViewPIDF = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PIDF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'

        var IsEditIPD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.IPD, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit)' == 'True'
        var IsAddIPD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.IPD, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add)' == 'True'
        var IsApproveIPD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.IPD, Helper.GetLoggedInRoleId(), (int)PermissionEnum.Approve)' == 'True'
        var IsViewIPD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.IPD, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'

        var IsEditFinance = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Finance, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit)' == 'True'
        var IsAddFinance = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Finance, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add)' == 'True'
        var IsApproveFinance = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Finance, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Approve)' == 'True'
        var IsViewFinance = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Finance, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'

        var IsEditMedical = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Medical, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit)' == 'True'
        var IsAddMedical = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Medical, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add)' == 'True'
        var IsViewMedical = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Medical, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'

        var IsEditCommercial = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Commercial, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit)' == 'True'
        var IsAddCommercial = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Commercial, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add)' == 'True'
        var IsViewCommercial = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Commercial, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'

        var IsEditProject = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Project, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit)' == 'True'
        var IsAddProject = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Project, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add)' == 'True'
        var IsViewProject = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Project, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'

        var IsApproveManagementHOD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.ManagementHOD, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Approve)' == 'True'
        var IsViewManagementHOD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.ManagementHOD, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'

        var IsViewAuditlogs = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.Auditlogs, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'
        
        var IsEditAPIIPD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit,(int)SubModulePermissionEnum.APIIPD)' == 'True'
        var IsEditAPIRnD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit,(int)SubModulePermissionEnum.APIRnD)' == 'True'
        var IsEditAPICharter = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit,(int)SubModulePermissionEnum.APICharter)' == 'True'
        var IsViewAPICharterSummary = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View,(int)SubModulePermissionEnum.APICharterSummary)' == 'True'

        var IsAddAPIIPD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add,(int)SubModulePermissionEnum.APIIPD)' == 'True'
        var IsAddAPIRnD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add,(int)SubModulePermissionEnum.APIRnD)' == 'True'
        var IsAddAPICharter = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add,(int)SubModulePermissionEnum.APICharter)' == 'True'

        var IsViewAPIIPD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View,(int)SubModulePermissionEnum.APIIPD)' == 'True'
        var IsViewAPIRnD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View,(int)SubModulePermissionEnum.APIRnD)' == 'True'
        var IsViewAPICharter = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View,(int)SubModulePermissionEnum.APICharter)' == 'True'
       

        var IsEditPBFAnalytical = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PBF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit,(int)SubModulePermissionEnum.Analytical)' == 'True'
        var IsEditPBFRnD = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PBF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit,(int)SubModulePermissionEnum.RnD)' == 'True'
        var IsEditPBFClinical = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PBF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit,(int)SubModulePermissionEnum.Clinical)' == 'True'

        var IsViewPBF = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PBF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.View)' == 'True'
        var IsAddPBF = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PBF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Add)' == 'True'
        var IsEditPBF = '@UtilityHelper.GetAccess((int)ModulePermissionEnum.PBF, Helper.GetLoggedInRoleId(),(int)PermissionEnum.Edit)' == 'True'

                        //#endregion
    </script>
}
