@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Web.Helpers;

@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@inject IHelper Helper
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = @MasterLocalizer["PIDF List"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<div class="content-header">
    <div class="container-fluid d-flex justify-content-between">
            @if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PIDF))
            {
                <h3>@MasterLocalizer["PIDF"]</h3>
            }else if(Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.IPD)){
                <h3>@SharedLocalizer["IPD"]</h3>
            }else if(Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Medical)){
                <h3>@SharedLocalizer["Medical"]</h3>
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Commercial))
        {
                <h3>@SharedLocalizer["Commercial"]</h3>    
            }else if(Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.API)){
                <h3>@SharedLocalizer["API"]</h3>
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PBF)){
                <h3>@SharedLocalizer["PBF"]</h3>
        }
        else if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Finance))
        {
                <h3>@SharedLocalizer["Finance"]</h3>   
            }else if(Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Management)){
            <h3>@SharedLocalizer["Management"]</h3>
            }
        <div>
            @if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PIDF) || Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.IPD) || Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Finance) || Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.Management))
            {
                <a class="btn btn-success"  onClick="ApproveRejectPIDF('A', @(Context.Request.Query["ScreenId"]), '/PIDF/PIDFList?ScreenId=@(Context.Request.Query["ScreenId"])')"><i class="fa fa-check-circle mr-1"></i> @SharedLocalizer["Approve"]</a>
                <a class="btn btn-danger" onClick="ApproveRejectPIDF('R', @(Context.Request.Query["ScreenId"]), '/PIDF/PIDFList?ScreenId=@(Context.Request.Query["ScreenId"])')"><i class="fa fa-ban mr-1"></i> @SharedLocalizer["Reject"]</a>
            }
            @*<a class="btn btn-danger" onClick="approveRejDeleteData('D')"><i class="far fa fa-trash mr-1"></i> @SharedLocalizer["Delete"]</a>*@
            @if (Context.Request.Query["ScreenId"] == Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.PIDF))
            {
                <a class="btn btn-primary" asp-action="PIDF"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
            }
            <div class="export-btn mybtn-group"></div>
        </div>
    </div>
</div>

<div class="container-fluid overflow-auto background-white-card">
    <span class="text-danger" >Note: Below table is having horizontal scroolbar, Please scroll to view detailed column data</span>
        <table id="PIDFTable" class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th class="text-center" style="min-width:25px"></th>
                    <th class="text-center" style="min-width:25px"></th>
                    <th style="min-width:90px">@MasterLocalizer["PIDF No"]</th>
                    <th style="min-width:110px">@MasterLocalizer["Project Name"]</th>
                    <th style="min-width:110px">@SharedLocalizer["Brand Name"]</th>
                    <th style="min-width:110px">@SharedLocalizer["Dosage Form"]</th>
                    <th style="min-width:110px">@SharedLocalizer["Business Unit"]</th>
                    <th style="min-width:110px">@SharedLocalizer["Oral Name"]</th>
                    <th style="min-width:80px">@SharedLocalizer["In House"]</th>
                    <th style="min-width:50px">@SharedLocalizer["IPD"]</th>
                    <th style="min-width:50px">@SharedLocalizer["Medical"]</th>
                    <th style="min-width:50px">@SharedLocalizer["Commercial"]</th>
                    <th style="min-width:50px">@SharedLocalizer["PBF"]</th>
                    <th style="min-width:50px">@SharedLocalizer["API"]</th>
                    <th style="min-width:50px">@SharedLocalizer["Finance"]</th>
@*                    <th style="min-width:50px">@SharedLocalizer["Management"]</th>*@
                    <th style="min-width:140px">@SharedLocalizer["Market Extension"]</th>
                    <th style="min-width:140px">@SharedLocalizer["Product Packaging"]</th>
                    <th style="min-width:140px">@SharedLocalizer["Ref Product Brand"]</th>
                    <th style="min-width:100px">@SharedLocalizer["Applicant"]</th>
                    <th style="min-width:80px">@SharedLocalizer["Country"]</th>
                <th style="min-width:80px">@SharedLocalizer["Indication"]</th>
                    <th style="min-width:120px">@SharedLocalizer["DIA /ANDA/ ANDS"]</th>
                    <th style="min-width:100px">@SharedLocalizer["Created By"]</th>
                    <th style="min-width:100px">@SharedLocalizer["Created Date"]</th>
                    <th style="min-width:150px">@SharedLocalizer["Status"]</th>
                    <th style="min-width:100px" class="text-center">@SharedLocalizer["Action"]</th>
                </tr>
            </thead>
            <tbody class="text-center">
            </tbody>
        </table>
</div>


        @*ApproveModel*@
@*        <div id="ApproveModel" class="modal themeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Approve"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["ApproveConfirm"])
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('A')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*RejectModel*@
        @*<div id="RejectModel" class="modal themeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Reject"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["RejectConfirm"])
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('R')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*DeletePIDFModel*@
        @*<div id="DeleteModel" class="modal themeModal " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["DeleteConfirm"])
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("PIDFID")
                        <div class="card-footer text-center">
                            <button type="button" onclick="approveRejDeleteConfirm('D')" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        @Html.Partial("_PIDFApproveReject")

@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/Custom/PIDF/MasterPIDFList.js?v=@jsVersion"></script>

    <script>

        //#region Setup API Url
        var AllPIDF = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllPIDF";
        var ApproveRejectDeletePidf = "@EmcureNPD.Web.Helpers.APIURLHelper.ApproveRejectDeletePidf";
        // #endregion

        //#region Static Messae Init
        var EditLabel = "@SharedLocalizer["Edit"]";
        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var AddLabel = "@SharedLocalizer["Add"]";
        var UpdateLabel = "@SharedLocalizer["Update"]";
        var _screenId = '@Context.Request.Query["ScreenId"]';
        var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack)
        {
            toastr.success(successCallBack);
        }

        //#endregion
    </script>
}
