@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums

@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@model EmcureNPD.Business.Models.PIDFAPICharterFormEntity
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = @MasterLocalizer["APICharterSummaryDetails"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<div class="content-header">
    <div class="container-fluid d-flex justify-content-between">
        <h3>Active Pharmaceutical Ingredient (Charter Detail Summary)</h3>
        <div>
@*            <a class="btn btn-primary mr-3" id="btnExportToPdf_APICharter" title="ExportToPdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>*@
            <a class="btn btn-success mr-3" id="btnPrintPDF" title="Print"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class="btn btn-danger" id="btnBack" asp-action="PIDFList" asp-controller="PIDF"
               asp-route-ScreenId="@Convert.ToString((int)EmcureNPD.Utility.Enums.PIDFScreen.API)">@SharedLocalizer["Back"]</a>
        </div>
    </div>
</div>
<div class="container-fluid background-white-card">
    <div id="divToExport">
        <div class="">
            <div class="" id="divToExportPage1" style="margin-left:15px;margin-right:15px;">
                <input type="hidden" asp-for="Pidfid" />
                <input type="hidden" asp-for="BusinessUnitId" />
                <input type="hidden" asp-for="PIDFAPICharterFormID" />
                <input type="hidden" asp-for="PIDFAPICharterFormID" />
                <input type="hidden" asp-for="SaveType" />
                <input asp-for="IsModelValid" style="visibility: hidden;" />
                <input type="hidden" asp-for="StatusId" />
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <tr class="bg-primary">
                                <td colspan=2><b>@MasterLocalizer["ProjectDetails"]</b></td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectName,@MasterLocalizer["ProjectName"], new { @class = "control-label" })
                                </td>
                                <td>
                                    <span id="lblProjectName">
                                    @Html.DisplayFor(model => model.ProjectName, new { @readonly = "readonly",  @class = "form-control"})
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.Market  ,@MasterLocalizer["Market"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Market, new {@readonly = "readonly", @class = "form-control", })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectInitiationDate,@MasterLocalizer["ProjectInitiationDate"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProjectInitiationDate, new {@readonly = "readonly", @class = "form-control", })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectEndDate,@MasterLocalizer["ProjectEndDate"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProjectEndDate, new {@readonly = "readonly",@class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.APIGroupLeader,@MasterLocalizer["APIGroupLeader"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.APIGroupLeader, new { @class = "form-control" })
                                    <label class="text-danger" id="valmsgAPIGroupLeader" style="display:contents"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectComplexityId  ,@MasterLocalizer["ProjectComplexity"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Enum.GetName((ProjectComplexicity)Model.ProjectComplexityId)
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*--------Start----Timeline IN Months-------------*@
                    <div class="col-md-3" id="dvTimelineInMonths">
                        @if (Model.TimelineInMonths != null)
                        {
                            <table class="table">
                                <tr class="bg-primary">
                                    <td colspan=2><b>@MasterLocalizer["TimelineInMonths"]</b></td>
                                </tr>
                                @for (int i = 0; i < Model.TimelineInMonths.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.TimelineInMonths[i].TimelineInMonthsId" />
                                            <input type="hidden" asp-for="@Model.TimelineInMonths[i].Name" />
                                            <label class="control-label">@Model.TimelineInMonths[i].Name </label>
                                        </td>
                                        @if (i == 6)
                                        {
                                            <td>
                                                @Html.DisplayFor(model => model.TimelineInMonths[i].TimelineInMonthsValue, new { @readonly = "readonly", @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(model => model.TimelineInMonths[i].TimelineInMonthsValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----Timeline IN Months-------------*@

                    @*------------Finance Rates--------------------------*@
                    <div class="col-md-3">
                        <table class="table">
                            <tr class="bg-primary">
                                <td colspan=2><b>@MasterLocalizer["FinanceRates"]</b></td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ManHourRates  ,@MasterLocalizer["ManHourRates"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ManHourRates, new { @class = "form-control"})
                                    <label class="text-danger" id="valmsgManHourRates" style="display:contents"></label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*--------------Finance Rates----------------------*@
                </div>
                 
                <div class="row mt-3">
                    @*--------Start----AnalyticalDepartment-------------*@
                    <div class="col-md-12" id="dvAnalyticalDepartment">
                        @if (Model.AnalyticalDepartment != null)
                        {
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr class="text-center ">
                                        <th>@MasterLocalizer["AnalyticalDepartments"]</th>
                                        <th>@MasterLocalizer["ARD"]</th>
                                        <th>@MasterLocalizer["Impurity"]</th>
                                        <th>@MasterLocalizer["Stability"]</th>
                                        <th>@MasterLocalizer["AMV"]</th>
                                        <th>@MasterLocalizer["AMT"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.AnalyticalDepartment.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.AnalyticalDepartment[i].AnalyticalDepartmentId" />
                                            <input type="hidden" asp-for="@Model.AnalyticalDepartment[i].Name" />
                                            <label class="control-label">@Model.AnalyticalDepartment[i].Name </label>
                                        </td>
                                        @if (i == 5)
                                        {
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentARDValue, new {@readonly = "readonly", @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentImpurityValue, new {@readonly = "readonly", @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentStabilityValue, new {@readonly = "readonly", @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentAMVValue, new { @readonly = "readonly",@class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentAMTValue, new {@readonly = "readonly", @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @if (i == 3)
                                                {
                                                    @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentARDValue, new {@readonly = "readonly", @class = "form-control" , @placeholder="" })
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentARDValue, new { @class = "form-control" , @placeholder="" })
                                                }

                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentImpurityValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentStabilityValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentAMVValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentAMTValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----AnalyticalDepartment-------------*@
                </div>

                <div class="row mt-3">
                    @*--------Start----PRDDepartment-------------*@
                    <div class="col-md-4" id="dvPRDDepartment">
                        @if (Model.PRDDepartment != null)
                        {
                            <table class="table">
                                <thead class="bg-primary">
                                    <tr class="text-center">
                                        <th>@MasterLocalizer["PRDDepartments"]</th>
                                        <th>@MasterLocalizer["RawMaterialCost"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.PRDDepartment.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.PRDDepartment[i].PRDDepartmentId" />
                                            <input type="hidden" asp-for="@Model.PRDDepartment[i].Name" />
                                            <label class="control-label">@Model.PRDDepartment[i].Name </label>
                                        </td>
                                        @if (i == 4)
                                        {
                                            <td>
                                                @Html.DisplayFor(model => model.PRDDepartment[i].PRDDepartmentRawMaterialValue, new { @readonly = "readonly",@class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(model => model.PRDDepartment[i].PRDDepartmentRawMaterialValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----PRDDepartment-------------*@
                    @*--------Start----CapitalOtherExpenditure-------------*@
                    <div class="col-md-8" id="dvCapitalOtherExpenditure">
                        @if (Model.CapitalOtherExpenditure != null)
                        {
                            <table class="table">
                                <thead class="bg-primary">
                                    <tr class="text-center">
                                        <th>@MasterLocalizer["CapitalOtherExpenditure"]</th>
                                        <th>@MasterLocalizer["Amount"]</th>
                                        <th>@MasterLocalizer["Remark"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.CapitalOtherExpenditure.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.CapitalOtherExpenditure[i].CapitalOtherExpenditureId" />
                                            <input type="hidden" asp-for="@Model.CapitalOtherExpenditure[i].Name" />
                                            <label class="control-label">@Model.CapitalOtherExpenditure[i].Name </label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.CapitalOtherExpenditure[i].CapitalOtherExpenditureAmountValue, new { @class = "form-control" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.CapitalOtherExpenditure[i].CapitalOtherExpenditureRemarkValue, new { @class = "form-control" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----CapitalOtherExpenditure-------------*@
                </div>
                <div class="row mt-3">
                    @*--------Start----ManhourEstimates-------------*@
                    <div class="col-md-12" id="dvManhourEstimates">
                        @if (Model.ManhourEstimates != null)
                        {
                            <table class="table">
                                <thead class="bg-primary">
                                    <tr class="text-center">
                                        <th>@MasterLocalizer["ManhourEstimates"]</th>
                                        <th>@MasterLocalizer["NoOfEmployee"]</th>
                                        <th>@MasterLocalizer["Months"]</th>
                                        <th>@MasterLocalizer["Hours"]</th>
                                        <th>@MasterLocalizer["Cost"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.ManhourEstimates.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.ManhourEstimates[i].ManhourEstimatesId" />
                                            <input type="hidden" asp-for="@Model.ManhourEstimates[i].Name" />
                                            <label class="control-label">@Model.ManhourEstimates[i].Name </label>
                                        </td>
                                        @if (i != 7)
                                        {
                                            <td>
                                                @Html.DisplayFor(model => model.ManhourEstimates[i].ManhourEstimatesNoOfEmployeeValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.ManhourEstimates[i].ManhourEstimatesMonthsValue, new { @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }
                                        <td>
                                            @Html.DisplayFor(model => model.ManhourEstimates[i].ManhourEstimatesHoursValue, new { @readonly = "readonly", @class = "form-control" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ManhourEstimates[i].ManhourEstimatesCostValue, new {@readonly = "readonly", @class = "form-control" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----ManhourEstimates-------------*@
                </div>
                <div class="row mt-3">
                    <div id="dvSpace"></div>
                    @*--------Start----HeadwiseBudget-------------*@
                    <div class="col-md-8" id="dvHeadwiseBudget">
                        @if (Model.HeadwiseBudget != null)
                        {
                            <table class="table">
                                <thead class="bg-primary">
                                    <tr class="text-center">
                                        <th>@MasterLocalizer["HeadwiseBudget(InLacs)"]</th>
                                        <th>@MasterLocalizer["Rupee(InLacs)"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.HeadwiseBudget.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.HeadwiseBudget[i].HeadwiseBudgetId" />
                                            <input type="hidden" asp-for="@Model.HeadwiseBudget[i].Name" />
                                            <label class="control-label">@Model.HeadwiseBudget[i].Name </label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.HeadwiseBudget[i].HeadwiseBudgetValue, new {@readonly = "readonly", @class = "form-control" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    <div class="col-md-6"></div>

                    @*--------End----HeadwiseBudget-------------*@
                </div>
                @* ----------Start -MangmentTeam-------------*@
                <div class="row mt-3">
                    <div class="col-12 d-flex flex-wrap mb-4">
                        @if (Model.ManagmentTeams != null)
                        {
                            @for (int i = 0; i < Model.ManagmentTeams.Count; i++)
                            {
                                <div class="col-3 text-center mt-5">
                                    <h6 class="m-0 fw-bold">@Model.ManagmentTeams[i].FullName</h6>
                                    <p class="m-0 fw-bold">@Model.ManagmentTeams[i].DesignationName</p>
                                </div>
                            }
                        }
                    </div>
                </div>
                @* ----------End -MangmentTeam-------------*@

            </div>
        </div>
    </div>
</div>
@section MyScripts {
<script type="text/javascript" src="~/js/plugins/jspdf.debug.js"></script>
<script type="text/javascript" src="~/js/html2canvas.js"></script>
<script>
    var SaveStatus = "@TempData["SaveStatus"]";
    var ErrorMessage = "@SharedLocalizer["Error"]";
    var GetAllMarketExtension = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllMarketExtension";
    var _PIDFID = "@UtilityHelper.Decreypt(Convert.ToString(Context.Request.Query["pidfid"]))";
    document.addEventListener("DOMContentLoaded", function () {
        var tabList = [].slice.call(document.querySelectorAll("#mainDivCommercial a"));
        var tabs = $('#tabList');

        tabList.forEach(function (tab) {
            var tabTrigger = new bootstrap.Tab(tab);

            tab.addEventListener("click", function (event) {
                event.preventDefault();
                tabTrigger.show();
            });
            tabs.append('<div class="tab-pane fade" id="' + tab + '">');

        });
    });
    var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
    if (errorCallBack) {
        toastr.error(errorCallBack);
    }
    var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
    if (successCallBack) {
        toastr.success(successCallBack);
    }

    $(document).ready(function() {
        $('#btnPrintPDF').click(function(){
            var ProjectName = $("#lblProjectName").text();
                var tdate = new Date();
                var dd = tdate.getDate(); //yields day
                var MM = tdate.getMonth(); //yields month
                var yyyy = tdate.getFullYear(); //yields year
                var hh = tdate.getHours();
                var mins = tdate.getMinutes();
                var currentDate = dd + "-" + (MM + 1) + "-" + yyyy + "-" + hh + "-" + mins;
                var fileName = 'APICharterSummary_' + (ProjectName == null || ProjectName == undefined ? "" : ProjectName.toString().trim()) + '_' + currentDate;

                printElement(fileName);
        });
            $('#btnExportToPdf_APICharter').click(function() {
                $('btnExportToPdf_APICharter').hide();
                $('btnBack').hide();
                var pidfid = $("#Pidfid").val();
                var ProjectName = $("#lblProjectName").text();
                var tdate = new Date();
                var dd = tdate.getDate(); //yields day
                var MM = tdate.getMonth(); //yields month
                var yyyy = tdate.getFullYear(); //yields year
                var hh = tdate.getHours();
                var mins = tdate.getMinutes();
                var currentDate = dd + "-" + (MM + 1) + "-" + yyyy + "-" + hh + "-" + mins;
                //let options = {
                //    pagesplit: true,
                //    'background': "#ffffff"
                //}
                var fileName = 'APICharterSummary_' + (ProjectName == null || ProjectName == undefined ? "" : ProjectName.toString().trim()) + '_' + currentDate + '.pdf';
                ////let pdf = new jsPDF('l', 'mm', 'a1');
                //let pdf = new jsPDF('p', 'pt', 'a4');
                //pdf.setFontSize(22);
                //pdf.setFontName('Times-Roman');
                //pdf.setFontStyle(true, false, false);
                //pdf.addHTML($("#divToExportPage1"), options, function () {

                //    pdf.save(fileName);
                //});
                CreatePDFfromHTML("#divToExportPage1", "1000px", fileName)
                $('btnExportToPdf_APICharter').show();
                $('btnBack').show();
            });
    });
</script>

}










