@using EmcureNPD.Utility.Models;
@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums
@using EmcureNPD.Web.Helpers;
@inject IHelper Helper
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@model EmcureNPD.Business.Models.PIDFAPICharterFormEntity
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = @MasterLocalizer["APICharterDetails"];
    var PidfId = Context.Request.Query["Pidfid"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
    bool IsEditAPICharter = UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(), (int)PermissionEnum.Edit, (int)SubModulePermissionEnum.APICharter);
    bool IsAddAPICharter = UtilityHelper.GetAccess((int)ModulePermissionEnum.APIListManagement, Helper.GetLoggedInRoleId(), (int)PermissionEnum.Add, (int)SubModulePermissionEnum.APICharter);
}

<div class="content-header">
    <h4 class="m-0">API Charter Detail</h4>
</div>
<div class="container-fluid background-white-card">
    <div class="card card-outline">
        <div class="card-body">
            <form id="frmAPICharterDetails" asp-action="APICharterDetailsForm" asp-controller="API" method="post">
                <input type="hidden" asp-for="Pidfid" />
                <input type="hidden" asp-for="BusinessUnitId" />
                <input type="hidden" asp-for="PIDFAPICharterFormID" />
                <input type="hidden" asp-for="SaveType" id="SaveType_APICharter" />
                <input asp-for="IsModelValid" style="visibility: hidden;" />
                <input type="hidden" asp-for="StatusId" />
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <tr class="bg-primary">
                                <td colspan=2><b>@MasterLocalizer["ProjectDetails"]</b></td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectName,@MasterLocalizer["ProjectName"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProjectName, new { @readonly = "readonly",  @class = "form-control"})
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.Market  ,@MasterLocalizer["Market"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Market, new {@readonly = "readonly", @class = "form-control", })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectInitiationDate,@MasterLocalizer["ProjectInitiationDate"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProjectInitiationDate, new {@readonly = "readonly", @class = "form-control", })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectEndDate,@MasterLocalizer["ProjectEndDate"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProjectEndDate, new {@readonly = "readonly",@class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.APIGroupLeader,@MasterLocalizer["APIGroupLeader"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.APIGroupLeader, new {@readonly = "readonly", @class = "form-control" })
                                    <label class="text-danger" id="valmsgAPIGroupLeader" style="display:contents"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.ProjectComplexityId  ,@MasterLocalizer["ProjectComplexity"], new { @class = "control-label" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.ProjectComplexityId, Html.GetEnumSelectList(typeof(ProjectComplexicity)),  new {@class = "form-control"})
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3">
                        @*--------Start----Timeline IN Months-------------*@
                        <div class="row" id="dvTimelineInMonths">
                            @if (Model.TimelineInMonths != null)
                            {
                                <table class="table">
                                    <tr class="bg-primary">
                                        <td colspan=2><b>@MasterLocalizer["TimelineInMonths"]</b></td>
                                    </tr>
                                    @for (int i = 0; i < Model.TimelineInMonths.Count; i++)
                                    {
                                        <tr>
                                            <td style="width:50%">
                                                <input type="hidden" asp-for="@Model.TimelineInMonths[i].TimelineInMonthsId" />
                                                <input type="hidden" asp-for="@Model.TimelineInMonths[i].Name" />
                                                <label class="control-label">@Model.TimelineInMonths[i].Name </label>
                                            </td>
                                            @if (i == 6)
                                            {
                                                <td style="width:50%">
                                                    @Html.TextBoxFor(model => model.TimelineInMonths[i].TimelineInMonthsValue, new {@readonly = "readonly" ,@type="number",@tabindex="-1", @class = "form-control" , @placeholder="" })
                                                    <label class="text-danger" style="display:contents"></label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="width:50%">
                                                    @Html.TextBoxFor(model => model.TimelineInMonths[i].TimelineInMonthsValue, new {@type="text", @class = "form-control format-currency" , @placeholder="" })
                                                    <label class="text-danger" style="display:contents"></label>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        @*--------End----Timeline IN Months-------------*@
                    </div>
                    @*------------Finance Rates--------------------------*@
                    <div class="col-md-3">
                        <div class="col-md-12 row">
                            <table class="table">
                                <tr class="bg-primary">
                                    <td colspan=2><b>@MasterLocalizer["FinanceRates"]</b></td>
                                </tr>
                                <tr>
                                    <td style="width:50%">
                                        @Html.LabelFor(model => model.ManHourRates  ,@MasterLocalizer["ManHourRates"], new { @class = "control-label" })
                                    </td>
                                    <td style="width:50%">
                                        @Html.TextBoxFor(model => model.ManHourRates, new {@type="text", @class = "form-control format-currency"})
                                        <label class="text-danger" id="valmsgManHourRates" style="display:contents"></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    @*--------------Finance Rates----------------------*@
                </div>

                <div class="row  mt-3">
                    @*--------Start----AnalyticalDepartment-------------*@
                    <div class="col-md-12" id="dvAnalyticalDepartment">
                        @if (Model.AnalyticalDepartment != null)
                        {
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr class="text-center ">
                                        <th>@MasterLocalizer["AnalyticalDepartments"]</th>
                                        <th>@MasterLocalizer["ARD"]</th>
                                        <th>@MasterLocalizer["Impurity"]</th>
                                        <th>@MasterLocalizer["Stability"]</th>
                                        <th>@MasterLocalizer["AMV"]</th>
                                        <th>@MasterLocalizer["AMT"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.AnalyticalDepartment.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.AnalyticalDepartment[i].AnalyticalDepartmentId" />
                                            <input type="hidden" asp-for="@Model.AnalyticalDepartment[i].Name" />
                                            <label class="control-label">@Model.AnalyticalDepartment[i].Name </label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentARDValue, ((i == 5 || i == 3) ? new {@type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" } : new {@type="text",@class = "form-control format-currency" , @placeholder="" }))
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentImpurityValue, ((i == 5 || i == 3) ? new {@type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" } : new {@type="text",@class = "form-control format-currency" , @placeholder="" }))
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentStabilityValue, ((i == 5 || i == 3) ? new {@type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" } : new {@type="text",@class = "form-control format-currency" , @placeholder="" }))
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentAMVValue, ((i == 5 || i == 3) ? new {@type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" } : new {@type="text",@class = "form-control format-currency" , @placeholder="" }))
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.AnalyticalDepartment[i].AnalyticalDepartmentAMTValue, ((i == 5 || i == 3) ? new {@type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" } : new {@type="text",@class = "form-control format-currency" , @placeholder="" }))
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----AnalyticalDepartment-------------*@
                </div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        @*--------Start----PRDDepartment-------------*@
                        <div class="row col-md-12" id="dvPRDDepartment">
                            @if (Model.PRDDepartment != null)
                            {
                                <table class="table">
                                    <thead class="bg-primary">
                                        <tr class="text-center">
                                            <th>@MasterLocalizer["PRDDepartments"]</th>
                                            <th>@MasterLocalizer["RawMaterialCost"]</th>
                                        </tr>
                                    </thead>
                                    @for (int i = 0; i < Model.PRDDepartment.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" asp-for="@Model.PRDDepartment[i].PRDDepartmentId" />
                                                <input type="hidden" asp-for="@Model.PRDDepartment[i].Name" />
                                                <label class="control-label">@Model.PRDDepartment[i].Name </label>
                                            </td>
                                            @if (i == 4)
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.PRDDepartment[i].PRDDepartmentRawMaterialValue, new {@type="text", @readonly = "readonly", @tabindex="-1",@class = "form-control format-currency" , @placeholder="" })
                                                    <label class="text-danger" style="display:contents"></label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.PRDDepartment[i].PRDDepartmentRawMaterialValue, new {@type="text", @class = "form-control format-currency" , @placeholder="" })
                                                    <label class="text-danger" style="display:contents"></label>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        @*--------End----PRDDepartment-------------*@
                    </div>
                    <div class="col-md-8">
                        @*--------Start----CapitalOtherExpenditure-------------*@
                        <div class="col-md-12 row" id="dvCapitalOtherExpenditure">
                            @if (Model.CapitalOtherExpenditure != null)
                            {
                                <table class="table">
                                    <thead class="bg-primary">
                                        <tr class="text-center">
                                            <th>@MasterLocalizer["CapitalOtherExpenditure"]</th>
                                            <th>@MasterLocalizer["Amount"]</th>
                                            <th>@MasterLocalizer["Remark"]</th>
                                        </tr>
                                    </thead>
                                    @for (int i = 0; i < Model.CapitalOtherExpenditure.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" asp-for="@Model.CapitalOtherExpenditure[i].CapitalOtherExpenditureId" />
                                                <input type="hidden" asp-for="@Model.CapitalOtherExpenditure[i].Name" />
                                                <label class="control-label">@Model.CapitalOtherExpenditure[i].Name </label>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.CapitalOtherExpenditure[i].CapitalOtherExpenditureAmountValue, new {@type="text", @class = "form-control format-currency" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.CapitalOtherExpenditure[i].CapitalOtherExpenditureRemarkValue, new { @maxlength="50", @class = "form-control" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        @*--------End----CapitalOtherExpenditure-------------*@
                    </div>
                </div>




                <div class="row mt-3">
                    @*--------Start----ManhourEstimates-------------*@
                    <div class="col-md-12" id="dvManhourEstimates">
                        @if (Model.ManhourEstimates != null)
                        {
                            <table class="table">
                                <thead class="bg-primary">
                                    <tr class="text-center">
                                        <th>@MasterLocalizer["ManhourEstimates"]</th>
                                        <th>@MasterLocalizer["NoOfEmployee"]</th>
                                        <th>@MasterLocalizer["Months"]</th>
                                        <th>@MasterLocalizer["Hours"]</th>
                                        <th>@MasterLocalizer["Cost"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.ManhourEstimates.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.ManhourEstimates[i].ManhourEstimatesId" />
                                            <input type="hidden" asp-for="@Model.ManhourEstimates[i].Name" />
                                            <label class="control-label">@Model.ManhourEstimates[i].Name </label>
                                        </td>
                                        @if (i != 7)
                                        {
                                            <td>
                                                @Html.TextBoxFor(model => model.ManhourEstimates[i].ManhourEstimatesNoOfEmployeeValue, new {@type="text", @class = "form-control format-currency" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ManhourEstimates[i].ManhourEstimatesMonthsValue, new {@type="text", @class = "form-control format-currency" , @placeholder="" })
                                                <label class="text-danger" style="display:contents"></label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }
                                        <td>
                                            @Html.TextBoxFor(model => model.ManhourEstimates[i].ManhourEstimatesHoursValue, new { @type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.ManhourEstimates[i].ManhourEstimatesCostValue, new {@type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----ManhourEstimates-------------*@
                </div>
                <div class="row mt-3">
                    @*--------Start----HeadwiseBudget-------------*@
                    <div class="col-md-8" id="dvHeadwiseBudget">
                        @if (Model.HeadwiseBudget != null)
                        {
                            <table class="table">
                                <thead class="bg-primary">
                                    <tr class="text-center">
                                        <th>@MasterLocalizer["HeadwiseBudget(InLacs)"]</th>
                                        <th>@MasterLocalizer["Rupee(InLacs)"]</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.HeadwiseBudget.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.HeadwiseBudget[i].HeadwiseBudgetId" />
                                            <input type="hidden" asp-for="@Model.HeadwiseBudget[i].Name" />
                                            <label class="control-label">@Model.HeadwiseBudget[i].Name </label>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.HeadwiseBudget[i].HeadwiseBudgetValue, new {@type="text",@readonly = "readonly", @tabindex="-1", @class = "form-control format-currency" , @placeholder="" })
                                            <label class="text-danger" style="display:contents"></label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    @*--------End----HeadwiseBudget-------------*@
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-end">
                        <div class="form-group">
                            @if (IsEditAPICharter || IsAddAPICharter)
                            {
                                <button type="submit" id="Save" class="btn btn-success">@SharedLocalizer["Submit"]</button>
                                if (Convert.ToBoolean(Context.Request.Query["api"]) == false)
                                {
                                    <button type="submit" id="SaveDraft" class="btn btn-primary">@SharedLocalizer["SaveDraft"]</button>
                                }
                            }
                            <a class="btn btn-danger" onclick="CancelPopup()">@SharedLocalizer["Cancel"]</a>

                            @*   <a  class="btn btn-success" onClick="SaveApproveClick();">@SharedLocalizer["Approve"]</a>
                            <a  class="btn btn-danger" onClick="SaveRejectClick();">@SharedLocalizer["Reject"]</a>*@
                        </div>
                    </div>
                </div>
                @* ----------End -Save buttons-------------*@
            </form>
        </div>
    </div>
</div>
@Html.Partial("_CancelRequest", (int)PIDFScreen.API)
@section MyScripts {
    @*    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/custom/api/APICharterDetailsForm.js?v=@jsVersion"></script>
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script type="text/javascript" src="~/js/custom/CommonCurrency.js?v=@jsVersion" defer></script>
    <script>
        var SaveStatus = "@TempData["SaveStatus"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var GetAllMarketExtension = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllMarketExtension";
        document.addEventListener("DOMContentLoaded", function () {
            var tabList = [].slice.call(document.querySelectorAll("#mainDivCommercial a"));
            var tabs = $('#tabList');

            tabList.forEach(function (tab) {
                var tabTrigger = new bootstrap.Tab(tab);

                tab.addEventListener("click", function (event) {
                    event.preventDefault();
                    tabTrigger.show();
                });
                tabs.append('<div class="tab-pane fade" id="' + tab + '">');

            });
        });
        var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
        if (errorCallBack) {
            toastr.error(errorCallBack);
        }

    </script>

}










