@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums

@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model EmcureNPD.Business.Models.PIDFCommercialEntity
@{ ViewData["Title"] = @MasterLocalizer["PIDFCommercialDetails"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}

<div id="dvPIDFAccrdion"></div>

<div class="content-header">
    <h4 class="m-0">@MasterLocalizer["CommercialDetails"]</h4>
            </div>

<div class="container-fluid background-white-card">
        <input type="hidden" id="hdnCommercialIsView" value="@(Context.Request.Query["IsView"] == "1" ? "1" : "0")" />
        
    <div class="row">         
        <div class="col-md-12" id="mainDivCommercial">
            <input type="hidden" id="PIDFBusinessUnitId" value="@Model.BusinessUnitId" />
            <input type="hidden" id="PIDFId" value="@Model.Pidfid" />
            <input type="hidden" id="BusinessUnitsByUser" value="@Model.BusinessUnitsByUser" />
             <div class="card card-primary card-tabs">
                            <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs text-center m-0" id="businessUnitTabs">
                        @if (Model.MasterBusinessUnitEntities.Count() > 0)
                        {
                            int k = 0;
                            @foreach (var businessUnit in Model.MasterBusinessUnitEntities)
                            {
                                <li class="nav-item p-0">
                                    <a class="nav-link" href="#tab_@businessUnit.BusinessUnitName" onClick="BUtabClick('@businessUnit.BusinessUnitId','@Model.Pidfid');" id="BUtab_@businessUnit.BusinessUnitId">@businessUnit.BusinessUnitName</a>
                                </li>
                                k = k + 1;
                            }
                        }

                    </ul>
                        </div>  

                      
                        </div>


            <div class="tab-content" id="tabList">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-primary">
                                    <h3 class="card-title mb-0">@MasterLocalizer["YearDetails"] </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" id="AddyeartableCollapseButton" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: block;">
                                   
                                    @*-----------------Year Table---------------*@
                                    <table id="YearsTable" class="table table-bordered table-striped table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>@MasterLocalizer["     "]</th>
                                                <th>@MasterLocalizer["ProductPackaging"]</th>
                                                <th>@MasterLocalizer["CommercialBatchSize(Qtr)"]</th>
                                                <th>@MasterLocalizer["PriceDiscounting"]</th>
                                                <th>@MasterLocalizer["TotalAPIReq(IMSKg)"]</th>
                                                <th>@MasterLocalizer["APiReq(EmcureKg)"]</th>
                                                <th>@MasterLocalizer["SU(IMSVolume)"]</th>
                                                <th>@MasterLocalizer["Market Growth"]</th>
                                                <th>@MasterLocalizer["MarketSize"]</th>
                                                <th>@MasterLocalizer["PriceErosion"]</th>
                                                <th>@MasterLocalizer["FinalSelection"]</th>
                                                <th>@MasterLocalizer["Action"]</th>
                                            </tr>
                                        </thead>
                                        <tbody id="AddYearTBody">
                                        </tbody>
                                    </table>
                                    @*-------------------End - Year Table-----------*@

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3" class="bg-primary">
                                                            @MasterLocalizer["Revenue"]
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="RevenueTbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @*-----------------Strength---------------------*@

                                    <div class="card card-maroon card-outline card-outline-tabs m-0">
                                        <div class="card-header p-0 border-bottom-0">
                                            @if (Model.MasterStrengthEntities.Count() > 0 || Model.MasterStrengthEntities != null)
                                            {
                                                <input type="hidden" id="PIDFProductStrengthId" value="@Model.MasterStrengthEntities[0].PidfproductStrengthId" />
                                            }
                                            <ul class="nav nav-tabs row m-0 text-center" id="ProductStrengthTabs">
                                                @if (Model.MasterStrengthEntities.Count() > 0 || Model.MasterStrengthEntities != null)
                                                {
                                                    int k = 0;
                                                    @foreach (var _strength in Model.MasterStrengthEntities)
                                                    {
                                                        <li class="nav-item col-6 p-0">
                                                            <a class="nav-link" href="#tab_@_strength.Strength" onClick="StrengthtabClick('@_strength.PidfproductStrengthId','@Model.Pidfid');" id="Strengthtab_@_strength.PidfproductStrengthId">@_strength.Strength</a>
                                                        </li>
                                                        k = k + 1;
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    @*-----------------End- of-Strength---------------------*@
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group required">
                                                @Html.LabelFor(model => model.MarketSizeInUnit,@MasterLocalizer["MarketSizeInUnit"], new { @class = "control-label" })
                                                <span class="text-danger">*</span>
                                                @Html.TextBoxFor(model => model.MarketSizeInUnit, new {@type="number", @autocomplete = "off",  @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["MarketSizeInUnit"] })
                                                <lable id="valmsgMarketSizeInUnit" class="text-danger"></lable>
                                            </div>
                                        </div>
                                        <input type="hidden" id="Pidfid" value=@Model.Pidfid />
                                        <input type="hidden" id="IsView" value=@Model.IsView />
                                        <input type="hidden" id="SaveType" />
                                        <input type="hidden" id="LoggedInUserId" value=@UtilityHelper.Encrypt(Convert.ToString(@Model.CreatedBy)) />
                                        <div class="col-md-4">
                                            <div class="form-group required">
                                                @Html.LabelFor(model => model.ShelfLife,@MasterLocalizer["ShelfLife"], new { @class = "control-label" })
                                                <span class="text-danger">*</span>
                                                @Html.TextBoxFor(model => model.ShelfLife, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["ShelfLife"] })
                                                <lable id="valmsgShelfLife" class="text-danger"></lable>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary mt-4" value="AddYear" onClick="ShowYearForm()">@MasterLocalizer["AddYear"]</button>
                                        </div>
                                    </div>

                                    <div class="" id="dvYearForm">
                                        @*<h4>@MasterLocalizer["AddYear"]</h4>*@
                                        <form id="AddYearForm">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.PackagingTypeId,@MasterLocalizer["ProductPackagingType"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        <select id="PackagingTypeId" name="PackagingTypeId" class="form-control"></select>
                                                        <lable id="valmsgPackagingTypeId" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.CurrencyId,@MasterLocalizer["Currency"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        <select id="CurrencyId" name="CurrencyId" class="form-control"></select>
                                                        <lable id="valmsgCurrencyId" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.CommercialBatchSize,@MasterLocalizer["CommercialBatchSize"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(model => model.CommercialBatchSize, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["CommercialBatchSize"] })
                                                        @Html.ValidationMessageFor(model => model.CommercialBatchSize, "", new { @class = "text-danger" })
                                                        <lable id="valmsgCommercialBatchSize" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.PriceDiscounting,@MasterLocalizer["PriceDiscounting"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(model => model.PriceDiscounting, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["PriceDiscounting"] })
                                                        @Html.ValidationMessageFor(model => model.PriceDiscounting, "", new { @class = "text-danger" })
                                                        <lable id="valmsgPriceDiscounting" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.TotalApireq,@MasterLocalizer["TotalAPIReq"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(model => model.TotalApireq, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["TotalAPIReq"] })
                                                        <lable id="valmsgTotalApireq" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.Apireq,@MasterLocalizer["APIReq"], new { @class = "control-label" })

                                                        @Html.TextBoxFor(model => model.Apireq, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["APIReq"] })
                                                        <lable id="valmsgApireq" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.Suimsvolume,@MasterLocalizer["SU_IMS"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(model => model.Suimsvolume, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["SU_IMS"] })
                                                        <lable id="valmsgSuimsvolume" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.FreeOfCost,@MasterLocalizer["FreeOfCost"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(model => model.FreeOfCost, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["FreeOfCost"] })
                                                        <lable id="valmsgFreeOfCost" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.MarketGrowth,@MasterLocalizer["MarketGrowth"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(model => model.MarketGrowth, new { @type="number", @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["MarketGrowth"] })
                                                        <lable id="valmsgMarketGrowth" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.MarketSize,@MasterLocalizer["MarketSize"], new { @class = "control-label" })
                                                        @Html.TextBoxFor(model => model.MarketSize, new { @type="number",@readonly = "readonly" , @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["MarketSize"] })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.PriceErosion,@MasterLocalizer["PriceErosion"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(model => model.PriceErosion, new { @type="number",@autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @MasterLocalizer["PriceErosion"] })
                                                        <lable id="valmsgPriceErosion" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group required">
                                                        @Html.LabelFor(model => model.FinalSelectionId,@MasterLocalizer["FinalSelection"], new { @class = "control-label" })
                                                        <span class="text-danger">*</span>
                                                        <select id="FinalSelectionId" name="FinalSelectionId" class="form-control" required></select>
                                                        <lable id="valmsgFinalSelectionId" class="text-danger"></lable>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 border ml-3">
                                                    <h3 class="card-title font-weight-bold">Market Share % </h3>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">@MasterLocalizer["Low"]</label>
                                                                <span class="text-danger">*</span>
                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.MarketSharePercentageLow, new {@type="number", @autocomplete = "off", @class = "form-control " })
                                                                <lable id="valmsgMarketSharePercentageLow" class="text-danger"></lable>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["Medium"]</label><span class="text-danger">*</span></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.MarketSharePercentageMedium, new { @type="number",@autocomplete = "off", @class = "form-control" })
                                                                <lable id="valmsgMarketSharePercentageMedium" class="text-danger"></lable>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["High"]</label><span class="text-danger">*</span></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.MarketSharePercentageHigh, new {@type="number", @autocomplete = "off", @class = "form-control "})
                                                                <lable id="valmsgMarketSharePercentageHigh" class="text-danger"></lable>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-3 border ml-3">
                                                    <h3 class="card-title font-weight-bold">Estimated Market Share Units </h3>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["Low"]</label></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.MarketShareUnitLow, new { @readonly = "readonly",@autocomplete = "off", @class = "form-control " })

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["Medium"]</label></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.MarketShareUnitMedium, new {@readonly = "readonly", @autocomplete = "off", @class = "form-control" })

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["High"]</label></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.MarketShareUnitHigh, new {@readonly = "readonly", @autocomplete = "off", @class = "form-control "})
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-3 border ml-3">
                                                    <h3 class="card-title font-weight-bold">NSP / Units </h3>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["Low"]</label><span class="text-danger">*</span></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.NspunitsLow, new { @type="number",@autocomplete = "off", @class = "form-control " })
                                                                <lable id="valmsgNspunitsLow" class="text-danger"></lable>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["Medium"]</label><span class="text-danger">*</span></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.NspunitsMedium, new {@type="number", @autocomplete = "off", @class = "form-control" })
                                                                <lable id="valmsgNspunitsMedium" class="text-danger"></lable>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["High"]</label><span class="text-danger">*</span></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.NspunitsHigh, new {@type="number", @autocomplete = "off", @class = "form-control "})
                                                                <lable id="valmsgNspunitsHigh" class="text-danger"></lable>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-2 border ml-3">
                                                    <h3 class="card-title font-weight-bold">NSP</h3>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["Low"]</label></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.NspLow, new {@readonly = "readonly", @autocomplete = "off", @class = "form-control " })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["Medium"]</label></td>
                                                            <td>@Html.TextBoxFor(model => model.NspMedium, new { @readonly = "readonly",@autocomplete = "off", @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="control-label">@MasterLocalizer["High"]</label></td>
                                                            <td>@Html.TextBoxFor(model => model.NspHigh, new { @readonly = "readonly",@autocomplete = "off", @class = "form-control "})</td>
                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="clearfix">&nbsp;</div>
                                                <div class="row text-end">
                                                    <div class="form-group required">
                                                        <button type="button" class="btn btn-success" id="btnSaveYear" value="AddYear" onClick="AddYearClick()">@SharedLocalizer["SaveYear"]</button>
                                                        <button type="button" class="btn btn-danger" id="btnCancelYearForm">@SharedLocalizer["Cancel"]</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-12 text-end">
                    <div class="form-group" id="dvMainButton">
                        <button type="button" id="btnSubmit" class="btn btn-success me-3 outside-buttons" >@SharedLocalizer["Submit"]</button>
                        <input class="btn btn-danger me-3 outside-buttons " value="Cancel" id="btnCommercialCancel" type="button" title=@SharedLocalizer["Cancel"] onclick="location.href='@Url.Action("PIDFList", "PIDF", new { ScreenId = 4 })'" />
                        @*<button class="btn btn-danger" type="button" onclick="window.history.back();">@SharedLocalizer["Cancel"]</button>*@
                        <button type="submit" id="btnSaveAsDraft" class="btn btn-primary me-3 outside-buttons" >@SharedLocalizer["SaveDraft"]</button>
                     
                        @*  @if (Model.StatusId != (Int32)Master_PIDFStatus.IPDInProgress)
                        {
                            <button type="submit" class="btn btn-info" onClick="SaveDraftClick();">@SharedLocalizer["SaveDraft"]</button>
                        }
                        <button class="btn btn-success" onClick="SaveApproveClick();">@SharedLocalizer["Approve"]</button>
                        <button class="btn btn-danger" onClick="SaveRejectClick();">@SharedLocalizer["Reject"]</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*CancelModel*@
<div id="CancelModelCommercial" class="modal themeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@SharedLocalizer["Cancel"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label(@SharedLocalizer["CancelConfirm"])
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="PIDFCommercial" asp-controller="PIDF" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</a>
                    <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section MyScripts {
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css" />
    <script type="text/javascript" src="~/AdminLTE/plugins/select2/js/select2.min.js"></script>
    <script src="~/js/custom/pidf/commercialdetailsform.js?v=@jsVersion"></script>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*<script type="text/javascript" src="~/js/Custom/PIDF/MasterPIDF.js"></script>
    <script type="text/javascript" src="~/js/Custom/Masters/MasterPIDForm.js"></script>
    <script type="text/javascript" src="~/js/Custom/PIDF/MasterPIDF_IPD.js"></script>*@

    <script>
        var GetAllProductType = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllProductType";
        var GetAllCurrency = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllCurrency";
        var SaveCommercialPIDF = "@EmcureNPD.Web.Helpers.APIURLHelper.SaveCommercialPIDF";
        var GetCommercialFormData = "@EmcureNPD.Web.Helpers.APIURLHelper.GetCommercialFormData";
        var GetAllFinalSelection = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllFinalSelection";

         var _PIDFID = "@UtilityHelper.Decreypt(Convert.ToString(Context.Request.Query["pidfid"]))";
        var _PIDFAccordionURL = "@Url.Action("PIDF", "PIDF")";

        var ErrorMessage = "@SharedLocalizer["Error"]";
        document.addEventListener("DOMContentLoaded", function () {
            var tabList = [].slice.call(document.querySelectorAll("#mainDivCommercial a"));
            var tabs = $('#tabList');

            tabList.forEach(function (tab) {
                var tabTrigger = new bootstrap.Tab(tab);

                tab.addEventListener("click", function (event) {
                    event.preventDefault();
                    tabTrigger.show();
                });
                tabs.append('<div class="tab-pane fade" id="' + tab + '">');

            });
        });
        var errorCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.ErrorMessage]';
        if (errorCallBack) {
            toastr.error(errorCallBack);
        }
        var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack) {
            toastr.success(successCallBack);
        }
    </script>

}










