@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@model EmcureNPD.Business.Models.PIDFEntity
@{
	ViewData["Title"] = @SharedLocalizer["Dashboard"];
}
<div class="content-header">
	<div class="container-fluid d-flex justify-content-between">
		<h3>@SharedLocalizer["Dashboard"]</h3>
	</div>
</div>
<div class="container-fluid overflow-auto background-white-card">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group required">
				@Html.LabelFor(model => model.BusinessUnitId, "Business Unit", new { @class = "control-label" })
				<select id="BusinessUnitId" name="BusinessUnitId" class="form-control readOnlyUpdate" required></select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group required">
				<label class="m-1" for="years">Year</label>
				<select id="years" name="years" class="form-control readOnlyUpdate" required></select>
			</div>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>

	<div id="PIDFContainer" class="row">
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="row">
		<section class="col-lg-6">
			<div class="card">
				<div class="card-header bg-primary">
					<h3 class="card-title">
						<i class="fas fa-chart-pie"></i> Status Wise
					</h3>
				</div>
				<div class="card-body">
					<div class="tab-content p-0">
						<canvas id="cPIDFChart" width="300" height="300" style="height: 300px; width: 100%;"></canvas>
					</div>
				</div>
			</div>

		</section>
		<section class="col-lg-6">
			<div class="card">
				<div class="card-header bg-primary">
					<h3 class="card-title">
						<i class="fas fa-map-marker-alt"></i> Location Wise
					</h3>
				</div>
				<div class="card-body">
					<div id="cPIDFMap" width="300" height="300" style="height: 400px; width: 100%;"></div>
				</div>
			</div>

		</section>


		@*<div class="col-6 background-white-card">
			<canvas id="chart" width="200" height="200"></canvas>
		</div>
		<div class="col-6 background-white-card">
			<h3>
				<i class="fas fa-map-marker-alt mr-1"></i> All Projects - Location Wise
			</h3>
			<div id="map" style="height: 400px; width: 100%;"></div>
		</div>*@
	</div>
</div>

@section MyScripts {
	<script type="text/javascript" src="~/js/Custom/Dashboard/Dashboard.js"></script>
	<link href="~/adminlte/plugins/jquery-jvectormap-2.0.5.css" rel="stylesheet" />
	<script src="~/adminlte/plugins/jquery-jvectormap-2.0.5.min.js"></script>
	<script type="text/javascript" src="~/AdminLTE/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
	<script src="~/adminlte/plugins/jquery-jvectormap-world-mill-en.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
	</script>

	<script>
		var GetAllDashboard = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllDashboard";
		var GetPIDFList = "@EmcureNPD.Web.Helpers.APIURLHelper.GetPIDFList";

		$(document).ready(function () {
			
		});
	</script>
}
