@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer

@model EmcureNPD.Business.Models.MasterUserChangePasswordEntity
@{
    ViewData["Title"] = @MasterLocalizer["ChangePassword"];
}
<div id="SaveChangePasswordModel">
    <form asp-action="ChangePassword">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h5 class="mb-0"><b>@MasterLocalizer["Change Password"].Value</b></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            @Html.LabelFor(model => model.Oldpassword, "Old Password", new { @class = "control-label" })
                            @Html.EditorFor(model => model.Oldpassword, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["Old password"] } })
                            @Html.ValidationMessageFor(model => model.Oldpassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            @Html.LabelFor(model => model.Password, "New Password", new { @class = "control-label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["New password"] } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            @Html.LabelFor(model => model.ConfirmNewPassowrd, "Confirm New Password", new { @class = "control-label" })
                            @Html.EditorFor(model => model.ConfirmNewPassowrd, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["Confirm New password"] } })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassowrd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">@SharedLocalizer["Save"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["Cancel"]</a>
                        </div>
                    </div>
                </div>

                @if (ViewBag.Message != null)
                {
                    <div class="row">
                        <div class="text-danger">@ViewBag.Message</div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>