@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model EmcureNPD.Business.Models.MasterUserEntityChangeProfile
@{
    ViewData["Title"] = @MasterLocalizer["ChangeProfile"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<div id="SaveChangeProfileModel">
    <form asp-action="ChangeProfile">
        <div class="content-header">
            <div class="container-fluid d-flex justify-content-between">
                <h3>@MasterLocalizer["ChangeProfile"].Value</h3>
            </div>
        </div>
        <input type="hidden" asp-for="UserId" />
        @if (ViewBag.Message != null)
        {
            string _Message = ViewBag.Message;
            if (_Message.Contains("successfully") || _Message.Contains("Successfully"))
            {
                <div class="row">
                    <div class="text-success">@ViewBag.Message</div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="text-danger">@ViewBag.Message</div>
                </div>
            }
        }
        <div class="container-fluid overflow-auto background-white-card">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                            @Html.LabelFor(model => model.FullName,"Full Name", new { @class = "control-label" })
                            <span class="text-danger">*</span>
                            @Html.TextBoxFor(model => model.FullName, new {@autocomplete = "off", @class = "form-control checkbox-checked",  @placeholder = @SharedLocalizer["FullName"] })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>                   
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.MobileCountryId, "ISD",new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        <select id="MobileCountryId" name="MobileCountryId" class="form-control"></select>
                        <input type="hidden" asp-for="MobileCountryId" id="hdnMobileCountryId" />
                        @Html.ValidationMessageFor(model => model.MobileCountryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.MobileNumber, @SharedLocalizer["MobileNumber"],new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.MobileNumber, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["MobileNumber"] })
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Address, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Address, new { @autocomplete = "off", @class = "form-control checkbox-checked", @placeholder = @SharedLocalizer["Address"] })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">@SharedLocalizer["Save"]</button>
                        <a class="btn btn-danger" href="/Home/Index" data-dismiss="modal">@SharedLocalizer["Cancel"]</a>
                    </div>
                </div>
            </div>
        </div>       
    </form>
</div>

@section MyScripts {
    <script type="text/javascript" src="~/js/Custom/User/UserChangeProfile.js?v=@jsVersion"></script>
    <script>
       
        var GetAllActiveCountryURL = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllActiveCountry";
       
    </script>
}