@using EmcureNPD.Utility.Models;
@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = @SharedLocalizer["UserMangegment"];
    RolePermissionModel objPermssion = (RolePermissionModel)ViewBag._objPermission;
    string IsAddAllow = (objPermssion.Add) ? "" : "display: none";
    string IsEditAllow = (objPermssion.Edit) ? "" : "display: none";
    string IsDeleteAllow = (objPermssion.Delete) ? "" : "display: none";
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
<div class="content-header">
    <div class="container-fluid d-flex justify-content-between">
        <h3>@SharedLocalizer["UserMangegment"]</h3>
        <div>
            <a class="btn btn-primary" style="@IsAddAllow" asp-action="UserManage"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
</div>
    </div>
</div>
<div class="container-fluid overflow-auto background-white-card">
    <table id="UserTable" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th style="min-width:140px;">@MasterLocalizer["FullName"]</th>
                <th style="min-width:140px;">@MasterLocalizer["EmailAddress"]</th>
                <th style="min-width:100px;">@MasterLocalizer["RoleName"]</th>
                <th style="min-width:140px;">@MasterLocalizer["BusinessUnit"]</th>
                <th style="min-width:100px;">@MasterLocalizer["Department"]</th>
                <th style="min-width:120px;">@MasterLocalizer["Mobile Number"]</th>
                <th style="min-width:100px;">@MasterLocalizer["CreatedDate"]</th>
                <th style="min-width:50px;">@MasterLocalizer["Active"]</th>
                <th style="min-width:50px;" class="text-center">@SharedLocalizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>




        @*DeleteUserModel*@
        <div id="DeleteUserModel" class="modal themeModal " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["DeleteConfirm"])
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("UserID")
                        <div class="card-footer text-center">
                            <button type="button" onclick="DeleteUser()" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
@section MyScripts {

    @Html.Partial("_DataTablePartial")
    <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
    <script type="text/javascript" src="~/js/Custom/User/MasterUser.js?v=@jsVersion"></script>

    <script>

        //#region Setup API Url
        var AllUser = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllUser";
        var DeleteUserByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.DeleteUserById";
        // #endregion

        //#region Static Messae Init
        var EditLabel = "@SharedLocalizer["Edit"]";
        var DeleteLabel = "@SharedLocalizer["Delete"]";

        var IsEditAllow =   "@IsEditAllow";
        var IsDeleteAllow = "@IsDeleteAllow";

        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";
        var AddLabel = "@SharedLocalizer["Add"]";
        var UpdateLabel = "@SharedLocalizer["Update"]";
        var successCallBack = '@TempData[EmcureNPD.Web.Helpers.UserHelper.SuccessMessage]';
        if (successCallBack)
        {
            toastr.success(successCallBack);
        }

        //#endregion
    </script>
}