@using EmcureNPD.Utility.Models;
@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer

@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer

@model EmcureNPD.Business.Models.MasterRoleEntity
@{
    ViewData["Title"] = @MasterLocalizer["RoleList"];
    RolePermissionModel objPermssion = (RolePermissionModel)ViewBag._objPermission;
    string IsAddAllow = (objPermssion.Add) ? "" : "display: none";
    string IsEditAllow = (objPermssion.Edit) ? "" : "display: none";
    string IsDeleteAllow = (objPermssion.Delete) ? "" : "display: none";
}

<div id="PlaceHolderHere"></div>

<div class="content-header">
    <div class="container-fluid d-flex justify-content-between">
        <h3>@MasterLocalizer["RoleManagement"]</h3>
        <div>
            <a class="btn btn-primary" style="@IsAddAllow" asp-action="RoleManage"><i class="far fa-plus-square mr-1"></i> @SharedLocalizer["Add"]</a>
</div>
    </div>
</div>
<div class="container-fluid overflow-auto background-white-card">
    <table id="RoleTable" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
            <tr>
                <th>@MasterLocalizer["RoleName"]</th>
                <th>@SharedLocalizer["Status"]</th>
                <th class="text-center">@SharedLocalizer["Action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>@Html.DisplayFor(module => item.RoleName)</td>
                    <td>@Html.LabelFor(model => model.IsActive, item.IsActive ? "Active" : "InActive", new { @style = item.IsActive ? "color:green;" : "color:red;" })</td>
                    <td>
                        <a title="Edit" style="@IsEditAllow" class="large-font" asp-action="RoleManage" asp-route-roleId="@item.RoleId">
                            <i class="fa fa-fw fa-edit mr-1"></i>
                        </a>

                        <a title="Delete" class="large-font text-danger" style="@IsDeleteAllow" data-toggle="modal" data-target="#DeleteRoleModel" data-backdrop="static" data-keyboard="false" onclick="ConfirmationRole(@item.RoleId); return false;"><i class="fa fa-fw fa-trash mr-1"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>






        @*DeleteFormulationModel*@
        <div id="DeleteRoleModel" class="modal themeModal " role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@SharedLocalizer["Delete"]</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@SharedLocalizer["DeleteConfirm"])
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("RoleID")
                        <div class="card-footer text-center">
                            <button type="button" onclick="DeleteRole()" data-dismiss="modal" class="btn btn-primary mr-2">@SharedLocalizer["Yes"]</button>
                            <a class="btn btn-danger" data-dismiss="modal">@SharedLocalizer["No"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

@section MyScripts {

    @Html.Partial("_DataTablePartial")

    <script type="text/javascript" src="~/js/Custom/Role/RoleManagement.js"></script>

    <script>

        //#region Setup API Url

        var DeleteRoleByIdUrl = "@EmcureNPD.Web.Helpers.APIURLHelper.DeleteRoleById";
        // #endregion

        //#region Static Label Init

        var DeleteLabel = "@SharedLocalizer["Delete"]";
        var ErrorMessage = "@SharedLocalizer["Error"]";
        var RecordDelete = "@SharedLocalizer["RecordDelete"]";

        //#endregion
    </script>

}