@using EmcureNPD.Utility.Models;
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums
@using EmcureNPD.Business.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model EmcureNPD.Business.Models.FinanceModel

<div style="display:none">

    @Html.TextBoxFor(@modal=>modal.ProjectStartDate,"{0:yyyy-MM-dd}",new{@type="date"})
    @Html.TextBoxFor(@modal=>modal.ProductLaunchDate,"{0:yyyy-MM-dd}",new{@type="date"})

     @Html.HiddenFor(x => x.PriceErosion                                                )
     @Html.HiddenFor(x => x.EscalationinCOGS                                            )
     @Html.HiddenFor(x => x.MarketShareErosionrate                                      )

    
     @Html.HiddenFor(x => x.MarketingAllowance                                                )
     @Html.HiddenFor(x => x.Opexasapercenttosale                                              )
     @Html.HiddenFor(x => x.ExternalProfitSharepercent                                        )
     @Html.HiddenFor(x => x.MarketingAllowance                                                )
     @Html.HiddenFor(x => x.Incometaxrate                                                     )
     @Html.HiddenFor(x => x.CollectioninDays                                                  )
     @Html.HiddenFor(x => x.InventoryinDays                                                   )
     @Html.HiddenFor(x => x.CreditorinDays                                                    )
     @Html.HiddenFor(x => x.DiscountRate                                                      )
     @Html.HiddenFor(x => x.GestationPeriodinYears                                            )
    @Html.HiddenFor(x => x.RandDanalyticalcost                                                     )
    @Html.TextBoxFor(@modal=>modal.RandDanalyticalcostPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
     @Html.HiddenFor(x => x.Rldsamplecost                                                     )
        @Html.TextBoxFor(@modal=>modal.RldsamplecostPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
   
        @Html.HiddenFor(x => x.BatchmanufacturingcostOrApiactualsEst                             )
    @Html.TextBoxFor(@modal=>modal.BatchmanufacturingcostOrApiactualsEstPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
    @Html.HiddenFor(x => x.Sixmonthsstabilitycost                             )
    @Html.TextBoxFor(@modal=>modal.SixmonthsstabilitycostPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
     @Html.HiddenFor(x => x.TechTransfer                                                      )
   @Html.TextBoxFor(@modal=>modal.TechTransferPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
   @Html.TextBoxFor(@modal=>modal.BestudiesPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
     @Html.HiddenFor(x => x.Bestudies                                                         )
     @Html.HiddenFor(x => x.Filingfees                                                        )
   @Html.TextBoxFor(@modal=>modal.FilingfeesPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
     @Html.HiddenFor(x => x.ToolingAndChangeParts                                             )
   @Html.TextBoxFor(@modal=>modal.ToolingAndChangePartsPhaseEndDate,"{0:yyyy-MM-dd}",new{@type="date"})
    @* @Html.HiddenFor(x => x.JsonlsPidfFinanceBatchSizeCoating                                 )*@
    @Html.HiddenFor(x => x.JsonCommercialData                                                 )
    @Html.HiddenFor(x => x.GestationPeriodinYears                                             )
    <input type="hidden" id="TargetPriceScenario" value="@Model.TargetPriceScenario" />
    <input type="hidden" id="MSPersentage" value="@Model.Mspersentage" />
</div>