@using EmcureNPD.Utility.Models;
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<MastersController> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@using EmcureNPD.Utility.Utility
@using EmcureNPD.Utility.Enums
@using EmcureNPD.Business.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model EmcureNPD.Business.Models.FinanceModel

<div>

    @Html.HiddenFor(x => x.ProjectStartDate         );

     @Html.HiddenFor(x => x.ProjectStartDate                                                  );
     @Html.HiddenFor(x => x.ProductLaunchDate                                                 );
     @Html.HiddenFor(x => x.MarketingAllowance                                                );
     @Html.HiddenFor(x => x.Opexasapercenttosale                                              );
     @Html.HiddenFor(x => x.ExternalProfitSharepercent                                        );
     @Html.HiddenFor(x => x.MarketingAllowance                                                );
     @Html.HiddenFor(x => x.Incometaxrate                                                     );
     @Html.HiddenFor(x => x.CollectioninDays                                                  );
     @Html.HiddenFor(x => x.InventoryinDays                                                   );
     @Html.HiddenFor(x => x.CreditorinDays                                                    );
     @Html.HiddenFor(x => x.DiscountRate                                                      );
     @Html.HiddenFor(x => x.GestationPeriodinYears                                            );
     @Html.HiddenFor(x => x.Rldsamplecost                                                     );
     @Html.HiddenFor(x => x.RldsamplecostPhaseEndDate                                         );
     @Html.HiddenFor(x => x.BatchmanufacturingcostOrApiactualsEst                             );
     @Html.HiddenFor(x => x.BatchmanufacturingcostOrApiactualsEstPhaseEndDate                 );
     @Html.HiddenFor(x => x.SixmonthsstabilitycostPhaseEndDate                                );
     @Html.HiddenFor(x => x.TechTransfer                                                      );
     @Html.HiddenFor(x => x.TechTransferPhaseEndDate                                          );
     @Html.HiddenFor(x => x.BestudiesPhaseEndDate                                             );
     @Html.HiddenFor(x => x.Bestudies                                                         );
     @Html.HiddenFor(x => x.Filingfees                                                        );
     @Html.HiddenFor(x => x.FilingfeesPhaseEndDate                                            );
     @Html.HiddenFor(x => x.ToolingAndChangeParts                                             );
     @Html.HiddenFor(x => x.ToolingAndChangePartsPhaseEndDate                                 );


</div>