@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer

<div id="ApproveRejectModel" class="modal themeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ApproveRejectTitle">@SharedLocalizer["Approve"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                            <input type="hidden" id="hdnStatusSaveType" />
                            <input type="hidden" id="hdnStatuspidfIds" />
                            <input type="hidden" id="hdnStatusscreenId" />
                            <input type="hidden" id="hdnStatusReturnUrl" />
                        <div class="form-group" id="ApproveRejectLabel">
                            @Html.Label(@SharedLocalizer["ApproveConfirm"])
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" id="txtStatusComment" placeholder="Comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="button" onclick="ApproveRejectConfirm()"  class="btn btn-success me-3 outside-buttons ">@SharedLocalizer["Yes"]</button>
                    <a class="btn btn-danger me-3 outside-buttons" data-dismiss="modal">@SharedLocalizer["No"]</a>
                </div>
            </div>
        </div>
    </div>
</div>